/* 
    Document   : generic
    Created on : Feb 19, 2013, 15:07:00 PM
    Author     : Pepe
    Description:
        Purpose of the stylesheet follows.
*/

/*
Color green:
http://colorschemedesigner.com/#2g11Tw0w0w0w0
Color brown-orange:
http://colorschemedesigner.com/#1a12Bw0w0w0w0

jquery ui "le frog" usar como base
*/

/*
* Main elements
*/


body {
    background-color:#fcfcfc;
    padding:3px;
}

h1#titulo{
    margin-left: 15px;    
    margin-top: 15px;
}
/*
a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

h1{

}

h2{

}

h3{

}



*/

