/* 
    Document   : layout
    Created on : Dec 5, 2012, 8:56:50 PM
    Author     : Pepe
    Description:
        Purpose of the stylesheet follows.
*/

/*
* Div layout
*/

#layout {
    min-width:300px;
    max-width:1600px;
}

.layout {
    /*float:left;*/
}

/*#layout_header {
    width:100%;
    float:left;
}*/

#layout_header {
    height:80px;
    background-color:#D4F870;
    background-image: url('../../resources/images/cabecera_fondo.png') ;
    background-repeat:no-repeat;
    background-position: right;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    border-color: #E7E7E7;
}

/*#layout_title_left {
    width:40%;
    float:left;
    display:inline;
    margin: 0 0 0 30px;
}

#layout_title_right {
    width:40%;
    float:right;
    display:inline;
}*/

/*#layout_menu {
    float:left;
    width:100%;
    margin:4px 0;
}*/

 /*#layout_body {
   background-color:#bfdfdf;
    margin:0 0 0 0;
}*/

/*#layout_content {
    float:none;
    padding: 10px;
    margin:0 420px 0 220px;
    background-color:#bfffbf;
    width:auto;
}*/

/*#layout_content_main {
float:left;
margin:0 404px 0 204px;
padding: 10px;
background-color:#bfbfdf;
}*/

/*#layout_leftpanel {
    float:left;
    width:200px;
    padding: 10px;
    background-color:#ffbfff;
}

#layout_rightpanel {
    float:right;
    width:400px;
    padding: 10px;
    background-color:#ffbfbf;
}*/

/*#layout_footer {
    width: 100%;
    height:200px;
    background-color:#bfffdf;
    float:left;
    margin: 0 0 4px;
}*/

#layout_hidden {
    float:left;
    min-width:1000px;
    max-width:1600px;
    width:100%;
}

#layout_notification {
    position:absolute;
    top:0;
    left:20%;
    height:80px;
    width:60%;
    background-color:#dfbfbf;
}

/*
* Content layout
*/
