/* 
    Document   : specific
    Created on : Feb 19, 2013, 15:07:00 PM
    Author     : Pepe
    Description:
        Purpose of the stylesheet follows.
*/

/*
* common
*/
body, body.smart-style-3, .smart-style-3 body {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    background: none;
}
html {
    height: auto;
    background: none;
}
h2 {
    line-height: 1.1;
}
/*
* Header
*/

#layout_title_left > .page-header {
    margin-top: 0;
    margin-bottom: 0;
}


/*
* Menu
*/

#menudiv > .navbar-inner > ul.nav{
    margin: 0;
    padding: 0;
    list-style-type: none
}

#menudiv > .navbar-inner > ul.nav > li{
    display: inline 
}


/*
* Google maps
*/

#map_canvas{
    height:400px;
    width:100%;
    min-width: 280px;
    /*-moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;*/
}

/*
* bootstrap
*/
.well {
    border-radius: 0px;
}

/*
* data table
*/

.dataTables_wrapper .tableContent {
    margin-left: 0px;
    margin-right: 0px;
}

.dataTables_wrapper .tableContent div{
    overflow-x: auto;     
    padding-left: 0px;
    padding-right: 0px;
}

.dataTables_wrapper table.table {
    border-top: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
    margin-top: 0px !important;
}

div.dataTables_wrapper .footer{
    margin-top: 0;
}

div.dataTables_wrapper div.dataTables_length {
    position: inherit;
    right: inherit;
    top: inherit;
    margin: 6px 0 0 10px;
}

div.dataTables_wrapper div.dataTables_filter {
    position: inherit;
    left: inherit;
    top: inherit;
    margin: 8px 10px 0 0;
    float: right !important;
}

div.dataTables_wrapper div.dataTables_filter input{
    width:150px;
}

div.dataTables_wrapper div.dataTables_info {
    margin: 6px 0 0 10px;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 4px 10px 0 0;
}

div.dataTables_wrapper div.dataTables_advancedFilter{
    margin: 8px 10px 0 0;
    float: right !important;
}

div.dataTables_wrapper table tfoot{
    background: -moz-linear-gradient(center top , #FAFAFA 0px, #F2F2F2 100%);
}

div.dataTables_wrapper table tfoot tr th .form-control  {
    width: 100%;
    margin-bottom: 4px;
}

/*
* smart-style
*/
.smart-style-3 nav ul ul li > a {
    font-size: 14px;
}

.smart-style-3 nav > ul > li > a {
    font-size: 14px;
}

.smart-style-3 nav > ul > li > a > i {
    font-size: 14px;
}

.smart-style-3 nav > ul > li > a b {
    top: 14px;
}

.btn.btn-ribbon > i {
    font-size: 100%;
}

.jarviswidget .widget-body {
    padding-bottom: 0px;
}

ol.breadcrumb{
    font-size: 13px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
}

.smart-style-3 input:not([type]), .smart-style-3 input[type="color"], .smart-style-3 input[type="email"], .smart-style-3 input[type="number"], .smart-style-3 input[type="password"], .smart-style-3 input[type="tel"], .smart-style-3 input[type="url"], .smart-style-3 input[type="text"], .smart-style-3 textarea {
    color: #333333;
    border: 1px solid #CCCCCC;
}

.ui-widget-content {
    border: 0;
}

.ui-spinner a.ui-spinner-button {
    border: 1px solid #CCCCCC;
    width: 34px;
}

.ui-spinner a.ui-spinner-button.ui-spinner-up  {
    border-bottom: 0 none;
}

.ui-spinner a.ui-spinner-button.ui-spinner-down  {
    border-top: 0 none;
}

.ui-spinner-up, .ui-spinner-down,
.ui-spinner-up:hover, .ui-spinner-down:hover,
.ui-spinner-up:focus, .ui-spinner-down:focus,
.ui-spinner-up:active, .ui-spinner-down:active{
    background: none repeat scroll 0 0 #EEEEEE;
}

.ui-spinner-up:before, .ui-spinner-down:before {
    color: #555555;
    content: "\f106";
}

.ui-spinner-down:before {
    content: "\f107";
}

.select2-container, .select2-drop, .select2-search, .select2-search input {
    font-size: 12px;
}

/*
* Bootstrap
*/
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: transparent;
}
.table-striped > tbody > tr:nth-child(2n) > td, 
.table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F9F9F9;
}

/*
* Font Awesome
*/
.fa-rotate-22 {
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fa-rotate-67 {
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -ms-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}
.fa-rotate-112 {
  -webkit-transform: rotate(112deg);
  -moz-transform: rotate(112deg);
  -ms-transform: rotate(112deg);
  -o-transform: rotate(112deg);
  transform: rotate(112deg);
}
.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.fa-rotate-157 {
  -webkit-transform: rotate(157deg);
  -moz-transform: rotate(157deg);
  -ms-transform: rotate(157deg);
  -o-transform: rotate(157deg);
  transform: rotate(157deg);
}
.fa-rotate-202 {
  -webkit-transform: rotate(202deg);
  -moz-transform: rotate(202deg);
  -ms-transform: rotate(202deg);
  -o-transform: rotate(202deg);
  transform: rotate(202deg);
}
.fa-rotate-225 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.fa-rotate-247 {
  -webkit-transform: rotate(247deg);
  -moz-transform: rotate(247deg);
  -ms-transform: rotate(247deg);
  -o-transform: rotate(247deg);
  transform: rotate(247deg);
}
.fa-rotate-292 {
  -webkit-transform: rotate(292deg);
  -moz-transform: rotate(292deg);
  -ms-transform: rotate(292deg);
  -o-transform: rotate(292deg);
  transform: rotate(292deg);
}
.fa-rotate-315 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
.fa-rotate-337 {
  -webkit-transform: rotate(337deg);
  -moz-transform: rotate(337deg);
  -ms-transform: rotate(337deg);
  -o-transform: rotate(337deg);
  transform: rotate(337deg);
}

/*
* Full Calendar
*/
.jarviswidget #calendar {
    margin-top: 0;
}

.fc-header .fc-header-title {
    vertical-align: auto;
}

.fc-header .fc-header-title h2 {
    margin-top: 0;
}

.fc-header .fc-button {
    margin-bottom: 0;
}

.fc-header td {
    padding: 5px;
    vertical-align: middle;
}

/*
* Validation
*/
label.error {
    color: #A90329;
    font-size: 12px;
}

input.error {
    color: #A90329 !important;
    border: 1px solid #A90329 !important;
}