/* 
    Document   : specific
    Created on : Feb 19, 2013, 15:07:00 PM
    Author     : Pepe
    Description:
        Purpose of the stylesheet follows.
*/

/*
* Menu
*/

#menudiv > .navbar-inner > ul.nav{
    margin: 0;
    padding: 0;
    list-style-type: none
}

#menudiv > .navbar-inner > ul.nav > li{
    display: inline 
}


/*
* Google maps
*/

#map_canvas{
    height:400px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    width:100%;
    min-width: 280px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}