<div class="row well">
    <div class="col-md-6 text-right">
        <address>
            <strong>Jos&eacute; Mar&iacute;a Valle Rodr&iacute;guez</strong><br/>
            <a href="mailto:#">jm_valle@hotmail.com</a>
        </address>
    </div>
    <div class="col-md-6 text-left">
        <address>
            <strong>Pepe Valle Mazuelos</strong><br/>
            <a href="mailto:#">ppot14@hotmail.com</a><br/>
            <a href="https://github.com/ppot14/chinchilla">github.com/ppot14/chinchilla</a>
        </address> 
    </div>
</div>
