<div class="navbar" style="width: 601px;" id="menudiv" layout:decorator="layout.html" layout:fragment="layout_menu">
    <div class="navbar-inner">
        <ul class="nav">

            <li><a th:href="@{/parcelas/mapa.html}" id="menu-parcelas" th:text="#{principal}"/></a></li>
            <li><a th:href="@{/labores/tabla.html}" id="menu-labores" th:text="#{labores}"/></a></li>
            <li><a th:href="@{/producciones/tabla.html}" id="menu-producciones" th:text="#{producciones}"/></a></li>
            <li><a th:href="@{/riegos/tabla.html}" id="menu-riegos" th:text="#{riegos}"/></a></li>
            <li><a th:href="@{/cultivos/tabla.html}" id="menu-cultivos" th:text="#{cultivos}"/></a></li>
            <li><a th:href="@{/personal/tabla.html}" id="menu-personal" th:text="#{personal}"/></a></li>
            <li><a th:href="@{/maquinarias/tabla.html}" id="menu-maquinarias" th:text="#{maquinarias}"/></a></li>
            <li><a th:href="@{/productos/tabla.html}" id="menu-productos" th:text="#{productos}"/></a></li>
            <li><a th:href="@{/registros/tabla.html}" id="menu-registros" th:text="#{registros}"/></a></li>
            <li><a th:href="@{/tiposlabores/tabla.html}" id="menu-tiposlabores" th:text="#{tiposlabores}"/></a></li>
            <li><a th:href="@{/meteorologia/calendario.html}" id="menu-meteorologia" th:text="#{meteorologia}"/></a></li>
            <li><a th:href="@{/configuracion/formulario.html}" id="menu-configuracion" th:text="#{configuracion}"/></a></li>

        </ul>
    </div>
</div>

