<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="well" id="submenudiv">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header"><span class="glyphicon glyphicon-tag"></span> <span th:text="#{labores}">[labores]</span></li>
            <li><a th:href="@{/labores/tabla.html}" th:text="#{tabla}">Tabla</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header"><span class="glyphicon glyphicon-tags"></span> <span th:text="#{tiposlabores}">[tiposlabores]</span></li>
            <li><a th:href="@{/labores/tipos/tabla.html}" th:text="#{tabla}">Tabla</a></li>
        </ul>
    </div>
</html>