<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="well" id="submenudiv">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header"><span class="icon-fence"></span> <span th:text="#{parcelas}">[parcelas]</span></li>
            <li><a th:href="@{/parcelas/mapa.html}" th:text="#{mapa}">Mapa</a></li>
            <li><a th:href="@{/parcelas/tabla.html}" th:text="#{tabla}">Tabla</a></li>
        </ul>
    </div>
</html>


<!--<span class="glyphicon glyphicon-map-marker"></span>-->