<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="page-title txt-color-blueDark" ><i class="icon-textfield"></i> [[${labor.id_labor} ? #{labor-id(${#numbers.formatInteger(labor.id_labor,3,'NONE')})} : #{nueva-labor}]]</h2>
    </div>
</div>
    
<div class="well" th:inline="text">

   <form id="formulario-labor" class="form-horizontal"  
        method="post" th:object="${labor}" role="form" 
        action="/labores/tabla/form/procesar/labor.html" 
        th:attr="action=@{/labores/tabla/form/procesar/labor.html}">
       
        <input th:field="*{id_labor}" 
               id="id_labor"  
                type="hidden"/>   
        
    <div class="form-group">
    <label for="grupo" class="col-md-5 control-label">[[#{grupo}]]</label>
        <div class="col-md-7">
            <input id="grupo" 
                    class="form-control input-sm" placeholder="" th:field="*{grupo}"></input>
        </div>
    </div> 
      
    <div class="form-group">
    <label for="nombre" class="col-md-5 control-label">[[#{nombre}]]</label>
        <div class="col-md-7">
            <input id="nombre" 
                    class="form-control input-sm" placeholder="" th:field="*{nombre}"></input>
        </div>
    </div>        
      
    <div class="form-group">
    <label for="parcela" class="col-md-5 control-label">[[#{parcela}]]</label>
        <div class="col-md-7">
            <select id="id_parcelas" 
                    class="form-control input-sm select2"  style="width:100%" 
                    multiple="multiple" 
                    placeholder="Seleccionar parcela(s)..."
                    th:field="*{id_parcelas}">
                <option  th:each="parcela : ${parcelas}" 
                         th:value="${parcela.id_parcela}">[[${parcela.nombre}]]</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="maquinaria" class="col-md-5 control-label">[[#{maquinaria}]]</label>
        <div class="col-md-7">
            <select id="id_maquinarias"
                    class="form-control input-sm select2"  style="width:100%"
                    multiple="multiple" 
                    placeholder="Seleccionar maquinaria..."
                    th:field="*{id_maquinarias}">
                <option  th:each="maq : ${maquinaria}" 
                         th:value="${maq.id_coste_maquinaria}">[[${maq.tipo}+' '+${maq.nombre}]]</option>
            </select>
        </div>
    </div>

<!--    <div class="form-group">
        <label for="productos" class="col-md-5 control-label">[[#{productos}]]</label>
        <div class="col-md-7">
            <select id="id_productos" 
                    class="select2"  style="width:100%"
                    multiple="multiple" 
                    placeholder="Seleccionar producto(s)..."
                    th:field="*{id_productos}">
                <option  th:each="prod : ${productos}" 
                         th:value="${prod.id_producto}">[[${prod.grupo}+' '+${prod.nombre}+' '+${prod.tipo}]]</option>
            </select>
        </div>
    </div>-->

<!--    <div class="form-group">
        <label for="cantidad-productos" class="col-md-5 control-label">[[#{cantidad-productos}]]</label>
        <div class="col-md-7"><div class="input-group">
            <input id="cantidad_productos" name="cantidad_productos" 
                    class="select2"  style="width:100%"  
                    placeholder="Cantidad producto(s)..."
                    th:field="*{cantidad_productos}"></input>
        </div></div>
    </div>-->

    <!--Table for products and amount-->
    <div class="form-group">
        <table id="table_form_producto_cantidad" class="table table-striped table-hover table-condensed table-form">
            <thead>
                <tr>
                  <th>[[#{producto}]]</th>
                  <th>[[#{cantidad}]]</th>
                  <th><button type="button" id="addProduct" class="btn btn-default btn-xs"><i class="icon-plus"></i></button></th>
                </tr>
<!--                <tr>
                  <th><select id="productosHeader" 
                            class="select2" 
                            placeholder="Seleccionar producto(s)...">
                        <option  th:each="prod : ${productos}" 
                                 th:value="${prod.id_producto}">[[${prod.tipo}+' '+${prod.nombre}]]</option>
                    </select>
                  </th>
                  <th><input id="cantidadHeader" class="form-control input-sm" placeholder=""></input></th>
                  <th>
                      <button type="button" id="addProduct" class="btn btn-default btn-xs"><i class="icon-plus"></i></button>
                  </th>
                </tr>-->
            </thead>
            <tbody>
                
                <tr th:each="laborProducto, rowStat : *{labor_producto}">
                    <td>
                        <select class="form-control input-sm select2" style="width:100%"
                        placeholder="Seleccionar producto(s)..."
                        th:field="*{labor_producto[__${rowStat.index}__].producto.id_producto}">
                            <option  th:each="prod : ${productos}" 
                                     th:value="${prod.id_producto}">[[${prod.tipo}+' '+${prod.nombre}]]</option>
                        </select>
                        <!--<input type="text" th:field="*{labor_producto[__${rowStat.index}__].producto.id_producto}" readonly="readonly" />-->
                    </td>
                    <td><input type="text" th:field="*{labor_producto[__${rowStat.index}__].multiplicador}" style="width:8em"/></td>
                    <td><button type="button" class="btn btn-default btn-xs delete-row"><i class="icon-trash"></i></button></td>
                </tr>
                
            </tbody>
        </table>
        
    </div>

    <div class="form-group">
        <label for="personal" class="col-md-5 control-label">[[#{personal}]]</label>
        <div class="col-md-7">
            <select id="id_costes_personal" 
                    class="form-control input-sm select2"  style="width:100%"
                    multiple="multiple" 
                    placeholder="Seleccionar personal..."
                    th:field="*{id_costes_personal}">
                <option  th:each="puesto : ${costesPersonal}" 
                         th:value="${puesto.id_coste_personal}">[[${puesto.tipo}+' '+${puesto.funcion}]]</option>
            </select>
        </div>
    </div>
      
    <div class="form-group">
    <label for="fecha_comienzo" class="col-md-5 control-label">[[#{fecha-comienzo}]]</label>
        <div class="col-md-7"><div class="input-group">
            <input id="fecha_comienzo" name="fecha_comienzo" 
                    class="form-control input-sm datepicker"  
                   placeholder="Seleccionar fecha" 
                   th:value="*{fecha_comienzo}? ${#dates.format(labor.fecha_comienzo,'dd/MM/yyyy')} : ''"></input> 
            <span class="input-group-addon"><i class="icon-calendarthree"></i></span>
        </div></div>
    </div>
      
    <div class="form-group">
    <label for="fecha_fin" class="col-md-5 control-label">[[#{fecha-fin}]]</label>
        <div class="col-md-7"><div class="input-group">
            <input id="fecha_fin" name="fecha_fin" 
                    class="form-control input-sm datepicker"  
                   placeholder="Seleccionar fecha" 
                   th:value="*{fecha_fin}? ${#dates.format(labor.fecha_fin,'dd/MM/yyyy')} : ''"></input> 
            <span class="input-group-addon"><i class="icon-calendarthree"></i></span>
        </div></div>
    </div>
      
    <div class="form-group">
    <label for="duracion" class="col-md-5 control-label">[[#{duracion}]]</label>
        <div class="col-md-7">
            <input id="cantidad" 
                    class="form-control input-sm" placeholder="" th:field="*{duracion}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="litros_gasoil" class="col-md-5 control-label">[[#{litros-gasoil}]]</label>
        <div class="col-md-7">
            <input id="litros_gasoil" 
                    class="form-control input-sm" placeholder="" th:field="*{litros_gasoil}"></input>
        </div>
    </div>
    
    <div class="form-group">
    <label for="coste_fijo_total" class="col-md-5 control-label">[[#{coste-fijo-total}]]</label>
        <div class="col-md-7">
            <input id="coste_fijo_total" 
                    class="form-control input-sm" placeholder="" th:field="*{coste_fijo_total}"></input>
        </div>
    </div> 
      
    <div class="form-group">
    <label for="descripcion" class="col-md-5 control-label">[[#{descripcion}]]</label>
        <div class="col-md-7">
            <textarea id="descripcion" 
                    class="form-control input-sm" placeholder="" th:field="*{descripcion}"></textarea>
        </div>
    </div> 
       
<!--    <div class="form-group">
        <label for="cantidad_dosis_por_ha" class="col-md-5 control-label" th:text="#{cantidad-dosis-por-ha}">[Cantidad o dosis (por HA)]</label>
        <div class="col-md-7">
            <input id="cantidad_dosis_por_ha" class="form-control input-sm" placeholder="9.50"></input>
        </div>
    </div>-->
       
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" id="boton_crear" class="btn btn-default btn-xs"><i class="icon-plus"></i> [[#{insertar}]]</button>
                <button type="button" id="boton_modificar" class="btn btn-default btn-xs"><i class="icon-editalt"></i> [[#{modificar}]]</button>
                <button type="button" id="boton_eliminar" class="btn btn-default btn-xs"><i class="icon-trash"></i> [[#{eliminar}]]</button>
                <button type="reset" class="btn btn-default btn-xs"><i class="icon-broom"></i> [[#{limpiar}]]</button>
            </div>
        </div>
    </div>
    
    <input id="insertar_modificar_eliminar" name="insertar_modificar_eliminar" type="hidden"/>
       
   </form>
 
</div>
    
<script  th:inline="javascript">/*<![CDATA[*/
        
    $(document).ready(function(){
        
        var addRow = function(productoId, productoNombre, productoCantidad){
            
            var rowCount = $('#table_form_producto_cantidad tbody tr').length;
            
            var row = $('<tr></tr>');
            
            var selectProducto = $('<select></select>');
            
            //TODO bug in select2 o jquerym class selec2 eliminada temporalmente
            selectProducto.addClass('select2 form-control input-sm')
                    .css('width','100%')
                    .attr('placeholder', 'Seleccionar producto(s)...')
                    .attr('id','labor_producto'+rowCount+'.producto.id_producto')
                    .attr('name','labor_producto['+rowCount+'].producto.id_producto');
                
            var productos = /*[[${productos}]]*/null; 
            
            if(productos){
                
                for(var i=0; i<productos.length; i++){
                    selectProducto.append( $('<option></option>')
                        .attr('value',productos[i].id_producto)
                        .text(productos[i].tipo+' '+productos[i].nombre) );
                }
                
            }
            
//            console.debug("selectProducto "+selectProducto);
            
            row.append( $('<td></td>').append(selectProducto) );
            
            //TODO bug in select2 o jquery
//            selectProducto.select2(); 
            
            var cantidadSpinner = $('<input id="labor_producto'+rowCount+'.multiplicador"'
                                    +'name="labor_producto['+rowCount+'].multiplicador"'
                                    +'class="form-control input-sm" placeholder=""></input>');
            
//            console.debug("cantidadSpinner "+cantidadSpinner);
            
            row.append( $('<td></td>').append(cantidadSpinner) );

            cantidadSpinner.spinner({
              min: 0,
              max: 999999,
              step: 1,
              page: 100,
              numberFormat: "n",
              culture: "es"
            });
            
            var buttonDeleteString =  $('<button type="button" class="btn btn-default btn-xs delete-row"><i class="icon-trash"></i></button>');
            
            row.append( $('<td></td>').append(buttonDeleteString) );
            
            buttonDeleteString.click(function(){
//                console.log('$(this) '+$(this));
                $(this).closest("tr").remove();
            });
            
//            console.log('row '+row);
            
            $('#table_form_producto_cantidad tbody').append(row);
        };
        
        $('#addProduct').click(function() {
            var productoId = $('#productosHeader').val();
            var productoNombre = $("#productosHeader option:selected").text();
            var productoCantidad = $('#cantidadHeader').val(); 
            
            addRow(productoId, productoNombre, productoCantidad);
            
        });
    
        var action = '';
        
        var ruta = window.location.pathname;
        
        if(ruta.indexOf('/labores/tabla/form/')>1){
            action = /*[[@{/labores/tabla/form/procesar/labor.html}]]*/null;
        }else if(ruta.indexOf('/parcelas/mapa/form/')>1){
            action = /*[[@{/parcelas/mapa/form/procesar/labor.html}]]*/null;
        }
        
        $('#formulario-labor').attr('action', action);
        
        //Modificar hidden cuando click en nuevo o modificar
        $('#boton_crear').click(function() {
            $('#insertar_modificar_eliminar').val('insertar');
            $('#formulario-labor').submit();
          });
          
        $('#boton_modificar').click(function() {
            var labor = /*[[${labor}]]*/null; 
//      console.debug('labor: '+JSON.stringify(labor,null,"\t"));
            $('#insertar_modificar_eliminar').val('modificar');
            $('#formulario-labor').submit();
          });
          
        $('#boton_eliminar').click(function() {
            $('#insertar_modificar_eliminar').val('eliminar');
            $('#formulario-labor').submit();
          });
          
          
//          var parcela = /*[[${parcela}]]*/null;
//          
//          if(parcela && parcela.id_parcela && parcela.id_parcela>0){
//              
//              var idParcela = parcela.id_parcela;
//              
//              $("#parcelas").val(idParcela);
//            
//          }
        var labor_producto = /*[[${labor.labor_producto}]]*/null; 

//        console.log("labor_producto: "+labor_producto);

        if(labor_producto){
//            for(var i=0; i<labor_producto.length; i++){
//                var productoId = labor_producto[i].producto.id_producto;
//                var productoNombre = labor_producto[i].producto.tipo+' '+labor_producto[i].producto.nombre;
//                var productoCantidad = labor_producto[i].multiplicador.toString().replace( /,/, "" ).replace( /\./, "," );
//                
//                addRow(productoId, productoNombre, productoCantidad);
//            }
        
            $(".delete-row").click(function(){
                $(this).closest("tr").remove();
            });
        }

//        console.log("cantidad_productos: "+cantidad_productos);
          
        var labor = /*[[${labor}]]*/null;
        
        if(!labor || labor.id_labor < 1){
            $('#boton_modificar').attr('disabled','disabled');
            $('#boton_eliminar').attr('disabled','disabled');
        }
        
        $( "#id_parcelas" ).select2();
        
        $( "#id_maquinarias" ).select2();
        
//        $( "#id_productos" ).select2();
        
//        $( "#cantidad_productos" ).select2({
//                      tags:[],
//                      tokenSeparators: [" "]});
        
        $( "#id_costes_personal" ).select2();
        
        //TODO bug in select2 o jquery
//        $( "select[id$='id_producto']" ).select2();

        $( "input[id$='multiplicador']" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });

        $( "#cantidad" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });

        $( "#litros_gasoil" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });

        $( "#coste_fijo_total" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });
        
         $( "#fecha_comienzo" ).datepicker();
        
         $( "#fecha_fin" ).datepicker();
  });        
  /*]]>*/</script>
    
</html>