<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="page-title" ><i class="icon-textfield"></i> [[${registro.id_orden_compra} ? #{registro-id(${#numbers.formatInteger(registro.id_orden_compra,3,'NONE')})} : #{nuevo-registro}]]</h2>
    </div>
</div>
    
<div class="well" th:inline="text">

  <form id="formulario-registro" class="form-horizontal"  method="post" th:object="${registro}" role="form" action="/registros/tabla/form/procesar/registro.html" th:attr="action=@{/registros/tabla/form/procesar/registro.html}">

<!--    <div class="form-group">
    <div class="col-md-8">-->
        <input th:field="*{id_orden_compra}" 
               id="id_orden_compra"  
                type="hidden"/>
<!--    </div>
    </div>-->
      
    <div class="form-group">
    <label for="id-elemento" class="col-md-4 control-label">[[#{elemento}]]</label>
        <div class="col-md-8">
            <select id="id_elemento" 
                    class="form-control input-sm select2"  style="width:100%"
                    th:field="*{id_elemento}">
                <option  th:each="elemento_item : ${elementos}" 
                         th:value="${elemento_item.key}">[[${elemento_item.value}]]</option>
            </select>
        </div>
    </div>
      
    <div class="form-group">
    <label for="num_factura" class="col-md-4 control-label">[[#{num-factura}]]</label>
        <div class="col-md-8">
            <input id="num_factura" 
                    class="form-control input-sm" placeholder="" th:field="*{num_factura}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="cantidad" class="col-md-4 control-label">[[#{cantidad}]]</label>
        <div class="col-md-8">
            <input id="cantidad" 
                    class="form-control input-sm" placeholder="" th:field="*{cantidad}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="precio" class="col-md-4 control-label">[[#{precio}]]</label>
        <div class="col-md-8">
            <input id="precio" 
                    class="form-control input-sm" placeholder="" th:field="*{precio}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="total" class="col-md-4 control-label">[[#{total}]]</label>
        <div class="col-md-8">
            <input id="total" 
                    class="form-control input-sm" placeholder="" th:field="*{total}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="marca" class="col-md-4 control-label">[[#{marca}]]</label>
        <div class="col-md-8">
            <input id="marca" 
                    class="form-control input-sm" placeholder="" th:field="*{marca}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="proveedor" class="col-md-4 control-label">[[#{proveedor}]]</label>
        <div class="col-md-8">
            <input id="proveedor" 
                    class="form-control input-sm" placeholder="" th:field="*{proveedor}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="fecha" class="col-md-4 control-label">[[#{fecha}]]</label>
        <div class="col-md-8"><div class="input-group">
            <input id="fecha" name="fecha" 
                    class="form-control input-sm datepicker"  
                   placeholder="Seleccionar fecha" 
                   th:value="*{fecha}? ${#dates.format(registro.fecha,'dd/MM/yyyy')} : ''"></input> 
            <span class="input-group-addon"><i class="icon-calendarthree"></i></span>
        </div></div>
    </div>
      
    <div class="form-group">
    <label for="fecha_albaran" class="col-md-4 control-label">[[#{fecha-albaran}]]</label>
        <div class="col-md-8"><div class="input-group">
            <input id="fecha_albaran" name="fecha_albaran" 
                    class="form-control input-sm datepicker"  
                   placeholder="Seleccionar fecha" 
                   th:value="*{fecha_albaran}? ${#dates.format(registro.fecha_albaran,'dd/MM/yyyy')} : ''"></input> 
            <span class="input-group-addon"><i class="icon-calendarthree"></i></span>
        </div></div>
    </div>
      
    <div class="form-group">
    <label for="nota" class="col-md-4 control-label">[[#{nota}]]</label>
        <div class="col-md-8">
            <textarea id="nota" 
                    class="form-control input-sm" placeholder="" th:field="*{nota}"></textarea>
        </div>
    </div>
    
    <div th:replace="template/form-operation-buttons"></div>
    
</form>
    </div>

<script  th:inline="javascript">/*<![CDATA[*/
    
$(window).load(function () { 
    
        crudInputBeforeSubmit('formulario-registro');
          
        var registro = /*[[${registro}]]*/null;
        
        if(!registro || registro.id_orden_compra < 1){
            $('#boton_modificar').attr('disabled','disabled');
            $('#boton_eliminar').attr('disabled','disabled');
        }
        
        $( "#id_elemento" ).select2({placeholder: "Seleccionar tipo registro..."});

        $( "#cantidad" ).spinner({
          min: 0,
          max: 999999,
          step: 0.01,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });
          
        $( "#precio" ).spinner({
          min: 0,
          max: 9999,
          step: 0.01,
          page: 100,
          numberFormat: "C",
          culture: "es"
        });
          
        $( "#total" ).spinner({
          min: 0,
          max: 999999,
          step: 0.01,
          page: 100,
          numberFormat: "C",
          culture: "es"
        });

         $( "#fecha" ).datepicker();

         $( "#fecha_albaran" ).datepicker();
         
         var formularioRegistro = $('#formulario-registro').validate({
            rules : {
                    id_elemento : {
                            required : true
                    },
                    cantidad : {
                            required : true,
                            minNumber : 0.01
                    },
                    precio : {
                            minNumber : 0.00
                    },
                    total : {
                            minNumber : 0.00
                    },
                    fecha : {
                            required : true
                    }
            },
            messages : {
                    id_elemento : {
                            required : 'Elemento es obligatoria'
                    },
                    cantidad : {
                            required : 'Cantidad es obligatoria'
                    },
                    fecha : {
                            required : 'Fecha es obligatorio'
                    }
            },
            errorPlacement : function(error, element) {
                    error.insertAfter(element.parent());
            }
        });
    
  });
  /*]]>*/</script>

</html>