<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="page-title" ><i class="icon-textfield"></i> [[${produccion.id_produccion} ? #{produccion-id(${#numbers.formatInteger(produccion.id_produccion,3,'NONE')})} : #{nueva-produccion}]]</h2>
    </div>
</div>
    
<div class="well" th:inline="text">

  <form id="formulario-produccion" class="form-horizontal"  method="post" th:object="${produccion}" role="form" action="#" th:action="@{/producciones/tabla/form/procesar/produccion.html}">

<!--    <div class="form-group">
    <label for="id_produccion" class="col-md-4 control-label" th:text="#{id-produccion}">[id_produccion]</label>
    <div class="col-md-8">-->
        <input th:field="*{id_produccion}" 
               id="id_produccion"  
                type="hidden"/>
<!--    </div>
    </div>-->
      
    <div class="form-group">
    <label for="id_cultivo" class="col-md-4 control-label">[[#{cultivo}]]</label>
        <div class="col-md-8">
            <select id="id_cultivo" 
                    class="form-control input-sm select2"  style="width:100%"
                    th:field="*{id_cultivo}">
                <option  th:each="cultivo : ${cultivos}" 
                         th:value="${cultivo.id_cultivo}">
                    [[${cultivo.especie} + ' - ' + ${cultivo.variedad}]]
                </option>
            </select>
        </div>
    </div>
      
    <div class="form-group">
    <label for="id_parcela" class="col-md-4 control-label">[[#{parcela}]]</label>
        <div class="col-md-8">
            <select id="id_parcela"  
                    class="form-control input-sm select2"  style="width:100%" 
                    th:field="*{id_parcela}">
                <option  th:each="parcela : ${parcelas}" 
                         th:value="${parcela.id_parcela}">[[${parcela.nombre}]]</option>
            </select>
        </div>
    </div>
      
    <div class="form-group">
    <label for="fecha" class="col-md-4 control-label">[[#{fecha}]]</label>
        <div class="col-md-8"><div class="input-group">
            <input id="fecha" name="fecha" 
                    class="form-control input-sm datepicker"  
                   placeholder="Seleccionar fecha..." 
                   th:value="*{fecha}? ${#dates.format(produccion.fecha,'dd/MM/yyyy')} : ''"></input> 
            <span class="input-group-addon"><i class="icon-calendarthree"></i></span>
            <!--th:field="*{fecha}" th:value="${produccion.fecha}? ${#dates.format(produccion.fecha,'dd/MM/yyyy')} : ''"-->
        </div></div>
    </div>
      
    <div class="form-group">
    <label for="kilos" class="col-md-4 control-label">[[#{kilos}]]</label>
        <div class="col-md-8">
            <input id="kilos" 
                    class="form-control input-sm" placeholder="250,50" th:field="*{kilos}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="precio_kilo" class="col-md-4 control-label">[[#{precio-kilo}]]</label>
        <div class="col-md-8">
            <input id="precio_kilo" 
                    class="form-control input-sm" placeholder="1,25" th:field="*{precio_kilo}"></input>
        </div>
    </div>
    
    <div th:replace="template/form-operation-buttons"></div>
    
</form>
    </div>

<script  th:inline="javascript">/*<![CDATA[*/
    
$(window).load(function () { 
    
        var action = '';
        
        var ruta = window.location.pathname;
        
        if(ruta.indexOf('/producciones/tabla/form/')>1){
            action = /*[[@{/producciones/tabla/form/procesar/produccion.html}]]*/null;
        }else if(ruta.indexOf('/parcelas/mapa/form/')>1){
            action = /*[[@{/parcelas/mapa/form/procesar/produccion.html}]]*/null;
        }
        
        $('#formulario-produccion').attr('action', action);
    
        crudInputBeforeSubmit('formulario-labor');
          
        var produccion = /*[[${produccion}]]*/null;
        
        if(!produccion || produccion.id_produccion < 1){
            $('#boton_modificar').attr('disabled','disabled');
            $('#boton_eliminar').attr('disabled','disabled');
        }
        
        $( "#id_parcela" ).select2({placeholder: "Seleccionar parcela..."});
        
        $( "#id_cultivo" ).select2({placeholder: "Seleccionar cultivo..."});
          
        $( "#precio_kilo" ).spinner({
          min: 0,
          max: 9999,
          step: 0.01,
          page: 100,
          numberFormat: "C",
          culture: "es"
        });

        $( "#kilos" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });

         $( "#fecha" ).datepicker();
         
        var formularioProduccion = $('#formulario-produccion').validate({
            rules : {
                    id_parcela : {
                            required : true
                    },
                    id_cultivo : {
                            required : true
                    },
                    kilos : {
                            required : true,
                            minNumber : 0.01
                    },
                    fecha : {
                            required : true
                    },
                    precio_kilo : {
                            minNumber : 0
                    }
            },
            messages : {
                    id_parcela : {
                            required : 'Parcela es obligatoria'
                    },
                    id_cultivo : {
                            required : 'Cultivo es obligatorio'
                    },
                    kilos : {
                            required : 'Kilos es obligatorio'
                    },
                    fecha : {
                            required : 'Fecha es obligatorio'
                    }
            },
            errorPlacement : function(error, element) {
                    error.insertAfter(element.parent());
            }
        });
    
  });
  /*]]>*/</script>

</html>