<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="page-title txt-color-blueDark" ><i class="icon-textfield"></i> [[${labor.id_labor} ? #{labor-id(${#numbers.formatInteger(labor.id_labor,3,'NONE')})} : #{nueva-labor}]]</h2>
    </div>
</div>
    
<div class="well">

   <form id="formulario-labor" class="form-horizontal"  
        method="post" th:object="${labor}" role="form" 
        action="/labores/tabla/form/procesar/labor.html" 
        th:attr="action=@{/labores/tabla/form/procesar/labor.html}">
      
    <div class="form-group">
    <label for="parcela" class="col-md-4 control-label">[[#{parcela}]]</label>
        <div class="col-md-8">
            <select id="id_parcela"  
                    class="select2"  style="width:100%" 
                    multiple="multiple" 
                    placeholder="Seleccionar parcelas..."
                    th:field="*{id_parcela}">
                <option  th:each="parcela : ${parcelas}" 
                         th:value="${parcela.id_parcela}">[[${parcela.nombre}]]</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="maquinaria" class="col-md-4 control-label">[[#{maquinaria}]]</label>
        <div class="col-md-8">
            <select id="maquinaria" 
                    class="select2"  style="width:100%"
                    multiple="multiple" 
                    placeholder="Seleccionar maquinaria..."
                    th:field="*{id_coste_maquinaria}">
                <option  th:each="maq : ${maquinaria}" 
                         th:value="${maq.id_coste_maquinaria}">[[${maq.tipo}+' '+${maq.nombre}]]</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="productos" class="col-md-4 control-label">[[#{productos}]]</label>
        <div class="col-md-8">
            <select id="productos" 
                    class="select2"  style="width:100%"
                    multiple="multiple" 
                    placeholder="Seleccionar productos..."
                    th:field="*{id_producto}">
                <option  th:each="prod : ${productos}" 
                         th:value="${prod.id_producto}">[[${prod.grupo}+' '+${prod.nombre}+' '+${prod.tipo}]]</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="personal" class="col-md-4 control-label">[[#{personal}]]</label>
        <div class="col-md-8">
            <select id="personal" 
                    class="select2"  style="width:100%"
                    multiple="multiple" 
                    placeholder="Seleccionar personal..."
                    th:field="*{id_coste_personal}">
                <option  th:each="puesto : ${costesPersonal}" 
                         th:value="${puesto.id_coste_personal}">[[${puesto.tipo}+' '+${puesto.funcion}]]</option>
            </select>
        </div>
    </div>
      
    <div class="form-group">
    <label for="fecha_comienzo" class="col-md-4 control-label">[[#{fecha-comienzo}]]</label>
        <div class="col-md-8"><div class="input-group">
            <input id="fecha" name="fecha" 
                    class="form-control input-sm datepicker"  
                   placeholder="Seleccionar fecha" 
                   th:value="*{fecha}? ${#dates.format(labor.fecha_comienzo,'dd/MM/yyyy')} : ''"></input> 
            <span class="input-group-addon"><i class="icon-calendarthree"></i></span>
        </div></div>
    </div>
      
    <div class="form-group">
    <label for="duracion" class="col-md-4 control-label">[[#{duracion}]]</label>
        <div class="col-md-8">
            <input id="cantidad" 
                    class="form-control input-sm" placeholder="" th:field="*{duracion}"></input>
        </div>
    </div>
      
    <div class="form-group">
    <label for="litros_gasoil" class="col-md-4 control-label">[[#{litros-gasoil}]]</label>
        <div class="col-md-8">
            <input id="litros_gasoil" 
                    class="form-control input-sm" placeholder="" th:field="*{litros_gasoil}"></input>
        </div>
    </div>
       
<!--    <div class="form-group">
        <label for="cantidad_dosis_por_ha" class="col-md-4 control-label" th:text="#{cantidad-dosis-por-ha}">[Cantidad o dosis (por HA)]</label>
        <div class="col-md-8">
            <input id="cantidad_dosis_por_ha" class="form-control input-sm" placeholder="9.50"></input>
        </div>
    </div>-->
       
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" id="boton_crear" class="btn btn-default btn-sm">Insertar</button>
                <button type="button" id="boton_modificar" class="btn btn-default btn-sm">Modificar</button>
                <button type="button" id="boton_eliminar" class="btn btn-default btn-sm">Eliminar</button>
                <button type="reset" class="btn btn-default btn-sm">Limpiar</button>
            </div>
        </div>
    </div>
    
    <input id="insertar_modificar_eliminar" name="insertar_modificar_eliminar" type="hidden"/>
       
   </form>
 
</div>
    
<script  th:inline="javascript">/*<![CDATA[*/
        
    $(document).ready(function(){
        //Modificar hidden cuando click en nuevo o modificar
        $('#boton_crear').click(function() {
            $('#insertar_modificar_eliminar').val('insertar');
            $('#formulario-labor').submit();
          });
          
        $('#boton_modificar').click(function() {
            $('#insertar_modificar_eliminar').val('modificar');
            $('#formulario-labor').submit();
          });
          
        $('#boton_eliminar').click(function() {
            $('#insertar_modificar_eliminar').val('eliminar');
            $('#formulario-labor').submit();
          });
          
          
//          var parcela = /*[[${parcela}]]*/null;
//          
//          if(parcela && parcela.id_parcela && parcela.id_parcela>0){
//              
//              var idParcela = parcela.id_parcela;
//              
//              $("#parcelas").val(idParcela);
//            
//          }
          
        var labor = /*[[${labor}]]*/null;
        
        if(!labor || labor.id_labor < 1){
            $('#boton_modificar').attr('disabled','disabled');
            $('#boton_eliminar').attr('disabled','disabled');
        }

        $( "#duracion" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });

        $( "#litros_gasoil" ).spinner({
          min: 0,
          max: 999999,
          step: 1,
          page: 100,
          numberFormat: "n",
          culture: "es"
        });
        
         $( "#fecha_comienzo" ).datepicker();
  });        
  /*]]>*/</script>
    
</html>