<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <script src="/resources/js/jquery-1.9.1.js" th:src="@{/resources/js/jquery-1.9.1.js}"></script>
        <script src="/resources/js/jquery-ui-1.10.1.custom.js" th:src="@{/resources/js/jquery-ui-1.10.1.custom.js}"></script> 
        <script src="/resources/js/jquery.dataTables.js" th:src="@{/resources/js/jquery.dataTables.js}"></script> 
        <script src="/resources/js/jquery.validate.js" th:src="@{/resources/js/jquery.validate.js}"></script> 
        <script src="/resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script> 
        <script src="/resources/js/additional-methods.js" th:src="@{/resources/js/additional-methods.js}"></script> 
        <script src="/resources/js/globalize.js" th:src="@{/resources/js/globalize.js}"></script> 
        <script src="/resources/js/globalize.culture.es-ES.js" th:src="@{/resources/js/globalize.culture.es-ES.js}"></script>
        
        <link rel="stylesheet" type="text/css" href="/resources/css/generic.css" th:href="@{/resources/css/generic.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/le-frog/jquery-ui-1.10.1.custom.css" th:href="@{/resources/css/le-frog/jquery-ui-1.10.1.custom.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap-theme.css" th:href="@{/resources/css/bootstrap-theme.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/layout.css" th:href="@{/resources/css/layout.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/overwrite.css" th:href="@{/resources/css/overwrite.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/specific.css" th:href="@{/resources/css/specific.css}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/resources/favicon.ico" />
        
        <title>Chinchilla</title>
    </head>
    <body>
        <div id="layout">
            <div id="layout_header"  class="layout row">
                <div id="layout_title_left"  class="layout col-md-4" tiles:include="title_left">
                    Insertar Cabecera Izquierda Aqui
                </div>
                <div id="layout_title_right"  class="layout col-md-4 col-md-offset-4" tiles:include="title_right">
                    Insertar Cabecera Derecha Aqui
                </div>
            </div>
            <div id="layout_menu"  class="layout row" tiles:include="menu">
                Insertar Menu Aqui
            </div>
            <div id="layout_body"  class="layout row">
                <div id="layout_leftpanel"  class="layout col-md-2" tiles:include="leftpanel">
                    Insertar Panel Izquierdo Aqui
                </div>
                <div id="layout_content"  class="layout col-md-6" tiles:include="content_main">
                    Insertar Panel Principal Aqui  
                </div>
                <div id="layout_rightpanel"  class="layout col-md-4" tiles:include="rightpanel">
                    Insertar Panel Derecho Aqui
                </div>
            </div>
            <div id="layout_footer"  class="layout row" tiles:include="footer">
                Insertar Pie Aqui
            </div>
        </div>
            <div id="layout_notification"  class="layout" hidden="true">
        </div>
        <div id="layout_hidden"  class="layout" hidden="true">
        </div>
    </body>
</html>