<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default.html">
    <head></head>
  <body>
    
    <div th:include="layout/default :: header/title"></div>
    <div th:include="layout/default :: header/title2"></div>
    <div th:include="layout/default :: menu/menu"></div>
    <div th:include="layout/default :: left/about"></div>
    <div th:include="layout/default :: right/default"></div>
    <div th:include="layout/default :: content/default"></div>
    <div th:include="layout/default :: footer/contact"></div>
    </body>
    

</html>