<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <!--<script src="/resources/js/jquery-1.9.1.js" th:src="@{/resources/js/jquery-1.9.1.js}"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!--<script src="/resources/js/jquery-ui-1.10.3.custom.js" th:src="@{/resources/js/jquery-ui-1.10.3.custom.js}"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="/resources/js/jquery.ui.datepicker-es.js" th:src="@{/resources/js/jquery.ui.datepicker-es.js}"></script> 
<!--        <script src="/resources/js/jquery.dataTables.js" th:src="@{/resources/js/jquery.dataTables.js}"></script> 
        <script src="/resources/js/datatable/dataTables.bootstrap.js" th:src="@{/resources/js/datatable/dataTables.bootstrap.js}"></script> -->
        <script src="/resources/js/datatable/jquery.dataTables-cust.js" th:src="@{/resources/js/datatable/jquery.dataTables-cust.js}"></script>
        <script src="/resources/js/datatable/ColReorder.min.js" th:src="@{/resources/js/datatable/ColReorder.min.js}"></script>
        <script src="/resources/js/datatable/FixedColumns.min.js" th:src="@{/resources/js/datatable/FixedColumns.min.js}"></script>
        <script src="/resources/js/datatable/ColVis.min.js" th:src="@{/resources/js/datatable/ColVis.min.js}"></script>
        <script src="/resources/js/datatable/ZeroClipboard.js" th:src="@{/resources/js/datatable/ZeroClipboard.js}"></script>
        <script src="/resources/js/datatable/TableTools.js" th:src="@{/resources/js/datatable/TableTools.js}"></script>
        <script src="/resources/js/datatable/DT_bootstrap.js" th:src="@{/resources/js/datatable/DT_bootstrap.js}"></script>
        <script src="/resources/js/jquery.validate.js" th:src="@{/resources/js/jquery.validate.js}"></script> 
        <!--<script src="/resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>--> 
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/resources/js/additional-methods.js" th:src="@{/resources/js/additional-methods.js}"></script> 
        <script src="/resources/js/globalize.js" th:src="@{/resources/js/globalize.js}"></script> 
        <script src="/resources/js/globalize.culture.es-ES.js" th:src="@{/resources/js/globalize.culture.es-ES.js}"></script>
        <script src="/resources/js/jquery.pnotify.js" th:src="@{/resources/js/jquery.pnotify.js}"></script>
	<script src="/resources/js/jarvis.widget.js" th:src="@{/resources/js/jarvis.widget.js}"></script>
	<script src="/resources/js/SmartNotification.js" th:src="@{/resources/js/SmartNotification.js}"></script>
	<script src="/resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
        
        <!--<link rel="stylesheet" type="text/css" href="/resources/css/generic.css" th:href="@{/resources/css/generic.css}"/>-->
        <!--<link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" media="all"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/whhg.css" th:href="@{/resources/css/whhg.css}" media="all"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/smartadmin-production.css" th:href="@{/resources/css/smartadmin-production.css}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/smartadmin-skins.css" th:href="@{/resources/css/smartadmin-skins.css}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/dataTables.bootstrap.css" th:href="@{/resources/css/dataTables.bootstrap.css}" media="screen"/>
        <!--<link rel="stylesheet" type="text/css" href="/resources/css/bootstrap-theme.css" th:href="@{/resources/css/bootstrap-theme.css}"/>-->
        <link rel="stylesheet" type="text/css" href="/resources/css/smoothness/jquery-ui-1.10.3.custom.css" th:href="@{/resources/css/smoothness/jquery-ui-1.10.3.custom.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/layout.css" th:href="@{/resources/css/layout.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/jquery.pnotify.default.css" th:href="@{/resources/css/jquery.pnotify.default.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/jquery.pnotify.default.icons.css" th:href="@{/resources/css/jquery.pnotify.default.icons.css}"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/specific.css" th:href="@{/resources/css/specific.css}"/>
        <!--<link rel="stylesheet" type="text/css" href="/resources/css/overwrite.css" th:href="@{/resources/css/overwrite.css}"/>-->
        <link rel="icon" type="image/ico" href="/resources/favicon.ico" th:href="@{/resources/favicon.ico}"/>
        
        <title>Chinchilla</title>
    </head>
    
    <body class="smart-style-3">
        
        <header id="header" tiles:include="inc_header">
        </header>
        
        <aside id="left-panel" tiles:include="inc_leftpanel">
        </aside>
        
        <div id="main" role="main">     
            <!-- RIBBON -->
            <div id="ribbon" tiles:include="inc_breadcrumb">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="content" tiles:include="inc_content"></div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="right-panel" tiles:include="inc_rightpanel" style="display: none"></div>
            </div>
        </div>
 
        <div id="shortcut">
        </div>
        
        <div id="layout_notification"  class="layout" hidden="true">
        </div>
        
        <div id="layout_hidden"  class="layout" hidden="true">
        </div>
        
    </body>
    
<script th:inline="javascript">/*<![CDATA[*/
    
    var stack_bar_bottom = {
            "dir1": "down", 
            "dir2": "right", 
            "push": "top", 
            "spacing1": 0, 
            "spacing2": 0
        };
        
//    var dataTablesLanguage = /*[[@{/resources/json/dataTables.spanish.txt}]]*/null;
    var dataTablesLanguage = {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ning&uacute;n dato disponible en esta tabla",
            "sInfo":           "Mostrando del _START_ al _END_ , Total _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando del 0 al 0 , Total 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "&lsaquo;&lsaquo;",
                "sLast":     "&rsaquo;&rsaquo;",
                "sNext":     "&rsaquo;",
                "sPrevious": "&lsaquo;"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        };
    
    var tabla_opciones = {
//            "bJQueryUI": true,
//            "sPaginationType": "full_numbers",
            "sPaginationType": "bootstrap_full",
//            "iDisplayLength": 25,
//            "oLanguage": dataTablesLanguage,
//            "sScrollX": "100%",
//            "sScrollXInner": "110%",
//            "bScrollCollapse": true,
//            "bStateSave": true
        };

    $(window).load(function () {
        
        /*
         * Notificador
         */
        var notificacion = /*[[${notificacion}]]*/null;
        
        if(notificacion){
            
            $.pnotify.defaults.delay = 10000;
            
            $.pnotify({
		title: notificacion.titulo,
		text: notificacion.fecha +' - '+ notificacion.mensaje,
                type: notificacion.tipo,
                addclass: "stack-bar-bottom",
                stack: stack_bar_bottom,
                width: "40%",
                styling: "bootstrap",
                icon: true,
                closer: true,
                history: false
            });
            
        }
        
        /*
         * Hacer desaparecer panel derecho si no hay nada
         */
        var layout_rightpanel = $('#right-panel');
        
        var layout_content = $('#content');
        
        if(layout_rightpanel && layout_content){
            
            var rightContent = layout_rightpanel.html();
            
            console.debug('contenidoDerecho '+rightContent);
            
            if( !rightContent || 
                rightContent === '' || 
                rightContent === 'vacio' || 
                rightContent === 'empty' ){
            
                layout_content.removeClass('col-sm-8 col-md-8 col-lg-8').addClass('col-sm-12 col-md-12 col-lg-12');
                layout_rightpanel.hide();
                
            }else {
            
                layout_content.removeClass('col-sm-12 col-md-12 col-lg-12').addClass('col-sm-8 col-md-8 col-lg-8');
                layout_rightpanel.show();
                
            }
            
        }
        
    });
    
/*]]>*/</script>     
    
</html>
