<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/resources/js/jquery.fullcalendar.min.js" th:src="@{/resources/js/jquery.fullcalendar.min.js}"></script>
<script th:inline="javascript">/*<![CDATA[*/
  
    $(window).load(function () {
        
        var y=2014;
        var m=3;
        var d=14;
        
        var meteo = /*[[${meteo}]]*/null;
        
        console.debug('meteo: '+JSON.stringify(meteo));
        
        var events = null;
        
        if(meteo){
        
            events = new Array(meteo.length);
        
            for (var i=0; i<meteo.length; i++){
                
                var background = '.bg-color-yellow';

                if(meteo[i].estado==='Despejado'){
                    background = 'bg-color-orange';
                }else if(meteo[i].estado==='Nublado'){
                    background = 'bg-color-blueDark';
                }else if(meteo[i].estado==='NyC'){
                    background = 'bg-color-blueLight';
                }

                events[i] = {
                            id: meteo[i].id_meteo,
                            title: meteo[i].estado+"\n"+
                                   "Max: "+meteo[i].temp_max+"\u00BAC\nMin: "+meteo[i].temp_min+"\u00BAC\n"+
                                    "Chinchilla: "+meteo[i].publio_chinchilla+"mm\n"+
                                    "Osuna: "+meteo[i].publio_osuna+"mm\n",
                            start: new Date(meteo[i].fecha.time),
                            allDay: true,
                            className: ["event", background],
                            icon: 'fa-clock-o'
                };
            }
        
        }
        
        console.debug('events '+JSON.stringify(events));
        
//        var events = [{
//                        title: 'All Day Event',
//                        start: new Date(y, m, 1),
//                        description: 'long description',
//                        className: ["event", "bg-color-greenLight"],
//                        icon: 'fa-check'
//                    }, {
//                        id: 999,
//                        title: 'Repeating Event',
//                        start: new Date(y, m, d + 4, 16, 0),
//                        allDay: false,
//                        className: ["event", "bg-color-blue"],
//                        icon: 'fa-clock-o'
//                    }, {
//                        title: 'Lunch',
//                        start: new Date(y, m, d, 12, 0),
//                        end: new Date(y, m, d, 14, 0),
//                        allDay: false,
//                        className: ["event", "bg-color-darken"]
//                    }];
        
        $('#calendar').fullCalendar({
                events: events,
                firstDay :1,
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','Sabado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Jue','Vie','Sab'],
		buttonText: {
			prev: '&nbsp;&#9668;&nbsp;',
			next: '&nbsp;&#9658;&nbsp;',
			prevYear: '&nbsp;&lt;&lt;&nbsp;',
			nextYear: '&nbsp;&gt;&gt;&nbsp;', 
			today: 'hoy',
			month: 'mes',
			week: 'semana',
			day: 'dia'
		},		
		titleFormat: {
			month: 'MMMM yyyy',
			week: "d [ yyyy]{ '&#8212;'[ MMM] d MMM yyyy}",
			day: 'dddd, d MMM, yyyy'
		},
		columnFormat: {
			month: 'ddd',
			week: 'ddd d/M',
			day: 'dddd d/M'
		},
		allDayText: 'dia todo',
		axisFormat: 'H:mm',
		timeFormat: {
			'': 'H(:mm)',
			agenda: 'H:mm{ - H:mm}'
		}
            });
        
    });
    
    
/*]]>*/</script> 
<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark" ><i class="fa fa-lg fa-fw fa-table"></i> [[#{meteorologia}]]</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>

    <!-- widget grid -->
    <section id="widget-grid" class="" th:inline="text">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false"
                                                        data-widget-editbutton="false"
                                                        data-widget-togglebutton="true"
                                                        data-widget-deletebutton="false"
                                                        data-widget-fullscreenbutton="false"
                                                        data-widget-custombutton="false"
                                                        data-widget-collapsed="false" 
                                                        data-widget-sortable="false">
                    <header>
                        <h2><i class="icon-calendarthree"></i> <strong>[[#{calendario}]]</strong></h2>					
<!--                        <div class="widget-toolbar"> 
                            <a id="anadir-tipo-labor-link" class="btn btn-default btn-sm" th:href="@{/labores/tabla/form/labor.html(id=-1)}">
                                 <span class="glyphicon glyphicon-plus"></span> [[#{anadir-labor}]]
                            </a>
                        </div>-->
                    </header>

                    <!-- widget div-->
                    <div class="">
                        <!-- widget edit box -->
<!--                        <div class="jarviswidget-editbox">
                        </div>-->
                        <!-- widget content no-padding-->
                        <div class="widget-body no-padding">
<!--                            <div class="widget-body-toolbar">
				
                                <div id="calendar-buttons">

                                        <div class="btn-group">
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                </div>

                            </div>-->
                            
                            <div id="calendar"></div>
                            
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</html>