<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpAR-D51JR7dd4EXPDxp0j7gUv6kXpSP0&amp;sensor=true&amp;libraries=geometry"></script>
    <script src="/resources/js/mapas.js" th:src="@{/resources/js/mapas.js}" th:inline="javascript"></script> 
    <script src="http://cdn.jsdelivr.net/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    <style type="text/css">
        @media screen and (max-width: 768px){
            #grid[data-columns]::before {
                content: '1 .col-xs-12';
            }
        }
        @media screen and (min-width:768px) and (max-width: 992px){
            #grid[data-columns]::before {
                /*content: '2 .col-sm-6';*/
                content: '1 .col-xs-12';
            }
        }
        @media screen and (min-width:992px) and (max-width: 1200px){
            #grid[data-columns]::before {
                /*content: '3 .col-md-4';*/
                content: '2 .col-sm-6';
            }
        }
        @media screen and (min-width:1200px){
            #grid[data-columns]::before {
                /*content: '4 .col-lg-3';*/
                content: '3 .col-md-4';
            }
        }        
    </style>

    <script th:inline="javascript">/*<![CDATA[*/

        $(window).load(function() { 

            //Mapa Widget
            
            try {

                var mapOptions = {
                    center: new google.maps.LatLng(37.326381, -5.208788),
                    zoom: 18,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                
                console.debug("map "+map);
                
                var producciones = /*[[${producciones}]]*/null;
                
                var parcelas = /*[[${parcelas}]]*/null;
                
                var coordenadas = /*[[${coordenadas}]]*/null;
                
                var data = new Array();
                
                for(var i = 0; i < producciones.length ; i++){
                    if(producciones[i].id_parcela in data){
                        data[producciones[i].id_parcela] = data[producciones[i].id_parcela] + producciones[i].kilos;
                    }else{
                        data[producciones[i].id_parcela] = producciones[i].kilos;
                    }
                }
                
                console.debug("data "+data);
                
                createGradientMap(map, parcelas, coordenadas, data);

            } catch (e) {

                console.debug("Error al cargar mapa: "+e);

            }
            
            //Tiempo Widget
            
            var url_forecast_wunderground = "http://api.wunderground.com/api/b7c6967273eb1adf/forecast/lang:SP/q/37.3258,-5.2061.json";

            var forecast4days;

            function setUpWeatherPanel(){

    //            console.log('forecast4days '+JSON.stringify(forecast4days, null, '\t'));

                var forecastday = forecast4days.forecast.simpleforecast.forecastday;

    //            console.log('forecastday '+JSON.stringify(forecastday, null, '\t'));

                var divForecast = $('#forecastday');

                for(var i=0; i<forecastday.length; i++){

//                console.log('forecastday '+i+' '+JSON.stringify(forecastday[i], null, '\t'));
                    var day = $('<div style="padding:0px 10px; margin-bottom:10px"></div>');
                    day.append($('<h5 style="margin-bottom: 0px;"></h5>').text(forecastday[i].date.weekday));
                    var box = $('<div class="" style="display: table; width: 100%;"></div>');
                    var colLeft = $('<div class="" style="float: left;position: relative;width: 30%;"></div>');
                    var colRight = $('<div class="" style="float: left;position: relative;width: 70%;"></div>');
                    colLeft.append($('<img class="media-object" ></img>').attr('src',forecastday[i].icon_url.replace('i/c/k','i/c/i')));
                    colRight.append($('<span style="display:table-row;"></span>').text(forecastday[i].conditions));
                    var temp = $('<div style="display:table-row"></div>');
                    temp.append($('<div class="text-primary" style="display:inline"></div>').text((forecastday[i].low.celsius+'').replace('.',',')+' \u00BAC'));
                    temp.append($('<div class="" style="margin-left:5px;display:inline"></div>').text('-'));
                    temp.append($('<div class="text-warning" style="margin-left:5px;display:inline"></div>').text((forecastday[i].high.celsius+'').replace('.',',')+' \u00BAC'));
                    colRight.append(temp);
                    if(forecastday[i].avewind.kph){
                        var wing = $('<div style="display:table-row"></div>');
                        wing.append($('<i id="icon-wind" class="fa fa-long-arrow-up fa-rotate-'+Util.deg[forecastday[i].avewind.dir]+'" style="margin: 0 5px"></i>'));
                        wing.append($('<div class="" style="margin-left:5px;display:inline"></div>').text(forecastday[i].avewind.dir));
                        wing.append($('<div class="" style="margin-left:5px;display:inline"></div>').text((forecastday[i].avewind.kph+'').replace('.',',')+' Km\/h'));
                        colRight.append(wing);
                    }
                    if(forecastday[i].qpf_allday.mm){
                        var rain = $('<div style="display:table-row"></div>');
                        rain.append($('<div class="" style="display:inline"></div>').text((forecastday[i].qpf_allday.mm+'').replace('.',',')+' mm'));
                        colRight.append(rain);
                    }
                    if(forecastday[i].avehumidity){
                        var hum = $('<div style="display:table-row"></div>');
                        hum.append($('<div class="" style="display:inline"></div>').text((forecastday[i].avehumidity+'').replace('.',',')+' %'));
                        colRight.append(hum);
                    }
                    box.append(colLeft);
                    box.append(colRight);
                    day.append(box);
                    divForecast.append(day);
                }

            }            
            
            $.ajax({
                    url : url_forecast_wunderground,
                    dataType : "jsonp",
//                    contentType: "application/json; charset=UTF-8",
                    success : function(parsed_json) {forecast4days = parsed_json; setUpWeatherPanel();}
            });
            
            //Gasoil Widget
            
            var today=new Date();
            today.setDate(today.getDate()+1);
//            var oneDayInMs = 24 * 60 * 60 * 1000;
//            today = new Date( today.valueOf() - (today.valueOf()%oneDayInMs) );
//            var lastweek=new Date();
//            lastweek.setDate(today.getDate()-7);
            var lastXdays=new Date();
            lastXdays.setDate(today.getDate()-365);
//            console.log('today '+today); 
//            console.log('lastXdays '+lastXdays); 
            var labores = /*[[${labores}]]*/null;
            
//            console.log('labores '+JSON.stringify(labores, null, '\t'));
            var todayDate = today.valueOf();
//            console.log('todayDate '+todayDate);
           var data = new Array();
           for(var i=0; i<labores.length; i++){
               var tempDay = new Date(labores[i].fecha_comienzo.time);
//            console.log('fecha_comienzo '+tempDay+' - '+labores[i].litros_gasoil);
                if(lastXdays < tempDay && tempDay < today){
                    var found = false;
                    for(var j=0; j<data.length; j++){
                        if(data[j][0].getTime() === tempDay.getTime() ){
                            data[j][1] = data[j][1] + labores[i].litros_gasoil;
                            found = true;
                            break;
                        }
                    }
                    if(!found){
                        data.push([tempDay, labores[i].litros_gasoil]);
                    }
                }
           }
                        
//            console.log('data: '+JSON.stringify(data));      
            var opciones_gasoil = {
                                        xaxis : {
                                            mode : "time",
                                            timeformat: "%m-%y",
//                                                tickLength : 5,
                                                min: lastXdays.getTime(),
                                                max: today.getTime()
                                        },
                                        yaxis:{
                                            min: 0
                                        },
                                        series : {
                                                bars : {
                                                        show : true,
                                                        barWidth : 24 * 60 * 60 * 1000,
//                                                        align: "center",
                                                        fill : true
                                                }
                                        },
//                                        selection : {
//                                                mode : "x"
//                                        },
                                        grid : {
                                                hoverable : true,
                                                clickable : true,
                                                tickColor : "#efefef",
                                                borderWidth : 0,
                                                borderColor : "#efefef",
                                        },
//                                        tooltip : false,
//                                        tooltipOpts : {
//                                                content : "Your sales for <b>%x</b> was <span>$%y</span>",
//                                                dateFormat : "%y-%0m-%0d",
//                                                defaultTheme : false
//                                        },
                                        colors : ["#FF851B"]
                                    };
                
            var plot = $.plot($("#gasoiltimebarchart"), [data], opciones_gasoil);                
               
            //Calendario de labores
            
            var events;

             if(labores){

                 events = new Array(labores.length);

                 for (var i=0; i<labores.length; i++){

                    var background = 'bg-color-grey';
                    if('abonado'===labores[i].grupo) background = 'bg-color-red-magenta';
                    if('tratamiento'===labores[i].grupo) background = 'bg-color-red';
                    if('preparacion'===labores[i].grupo) background = 'bg-color-magenta';
                    if('siembra'===labores[i].grupo) background = 'bg-color-orange';
                    if('mano de obra'===labores[i].grupo) background = 'bg-color-yellow-green';
                    if('otros'===labores[i].grupo) background = 'bg-color-yellow';
                    if('riego'===labores[i].grupo) background = 'bg-color-blue';
                    if('recoleccion'===labores[i].grupo) background = 'bg-color-green';

                     events[i] = {
                        id: labores[i].id_labor,
                        title: labores[i].nombre+" (Duracion: "+labores[i].duracion+" h, Litros de Gasoil: "+labores[i].litros_gasoil+" l)\n",
                        start: new Date(labores[i].fecha_comienzo.time),
                        end: (labores[i].fecha_fin)?new Date(labores[i].fecha_fin.time):new Date(labores[i].fecha_comienzo.time),
                        allDay: true,
                        className: ["event", background]
                     };
                 }

             }

             $('#laborescalendario').fullCalendar({
                     events: events,
                     firstDay :1,
                     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
                     monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
                     dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','Sabado'],
                     dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Jue','Vie','Sab'],
                     buttonText: {
                             prev: '&nbsp;&#9668;&nbsp;',
                             next: '&nbsp;&#9658;&nbsp;',
                             prevYear: '&nbsp;&lt;&lt;&nbsp;',
                             nextYear: '&nbsp;&gt;&gt;&nbsp;', 
                             today: 'hoy',
                             month: 'mes',
                             week: 'semana',
                             day: 'dia'
                     },		
                     titleFormat: {
                             month: 'MMMM yyyy',
                             week: "d [ yyyy]{ '&#8212;'[ MMM] d MMM yyyy}",
                             day: 'dddd, d MMM, yyyy'
                     },
                     columnFormat: {
                             month: 'ddd',
                             week: 'ddd d/M',
                             day: 'dddd d/M'
                     },
                     allDayText: 'dia todo',
                     axisFormat: 'H:mm',
                     timeFormat: {
                             '': 'H(:mm)',
                             agenda: 'H:mm{ - H:mm}'
                     }
                 });

          });

    /*]]>*/</script> 

    <div class="row" th:inline="text">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title"><i class="icon-speedalt"></i> [[#{panel}]]</h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        </div>
    </div>

    <!-- row -->
    <!--<div class="row" th:inline="text">-->

        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->

            <div id="grid" data-columns="" class="row" th:inline="text">

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-map"></i> [[#{mapa}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="map_canvas" ></div>
                    </div>

                </div>

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-rain"></i> [[#{prevision}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="forecastday" ></div>
                    </div>

                </div>

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-gasstation"></i> [[#{gasoil}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="gasoiltimebarchart" class="chart" ></div>
                    </div>

                </div>

            </div>
            
        <!--</div>-->
        
    <!--</div>-->
    
    
    <div class="row" th:inline="text">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-shovel"></i> [[#{labores}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="laborescalendario"></div>
                    </div>

                </div>
            
        </div>
        
    </div>
    
    <!--<script src="/resources/js/salvattore.min.js" th:src="@{/resources/js/salvattore.min.js}" th:inline="javascript"></script>--> 
    <script src="/resources/js/salvattore.js" th:src="@{/resources/js/salvattore.js}" th:inline="javascript"></script> 

</html>
