<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpAR-D51JR7dd4EXPDxp0j7gUv6kXpSP0&amp;sensor=true&amp;libraries=geometry"></script>
    <!--th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCpAR-D51JR7dd4EXPDxp0j7gUv6kXpSP0(sensor=true)(libraries=geometry)}"></script>-->
    <script src="/resources/js/mapas.js" th:src="@{/resources/js/mapas.js}" th:inline="javascript"></script> 
    <style type="text/css">
        @media screen and (max-width: 768px){
            #grid[data-columns]::before {
                content: '1 .col-xs-12';
            }
        }
        @media screen and (min-width:768px) and (max-width: 992px){
            #grid[data-columns]::before {
                /*content: '2 .col-sm-6';*/
                content: '1 .col-xs-12';
            }
        }
        @media screen and (min-width:992px) and (max-width: 1200px){
            #grid[data-columns]::before {
                /*content: '3 .col-md-4';*/
                content: '2 .col-sm-6';
            }
        }
        @media screen and (min-width:1200px){
            #grid[data-columns]::before {
                /*content: '4 .col-lg-3';*/
                content: '3 .col-md-4';
            }
        }        
    </style>

    <script th:inline="javascript">/*<![CDATA[*/

        var url_forecast_wunderground = "http://api.wunderground.com/api/b7c6967273eb1adf/forecast/lang:SP/q/37.3258,-5.2061.json";

        var forecast4days;
        
        function setUpWeatherPanel(){
            
//            console.log('forecast4days '+JSON.stringify(forecast4days, null, '\t'));
            
            var forecastday = forecast4days.forecast.simpleforecast.forecastday;
            
//            console.log('forecastday '+JSON.stringify(forecastday, null, '\t'));
            
            var divForecast = $('#forecastday');
            
            for(var i=0; i<forecastday.length; i++){
                var day = $('<div style="padding:0px 10px; margin-bottom:10px"></div>');
                day.append($('<h5></h5>').text(forecastday[i].date.weekday+' - '+forecastday[i].conditions));
                day.append($('<div class="text-primary pull-right" style="margin-left:5px"></div>').text(forecastday[i].low.celsius.replace('.',',')+' \u00BAC'));
                day.append($('<div class="pull-right" style="margin-left:5px"></div>').text('-'));
                day.append($('<div class="text-warning pull-right" style="margin-left:5px"></div>').text(forecastday[i].high.celsius.replace('.',',')+' \u00BAC'));
                day.append($('<img class="media-object"></img>').attr('src',forecastday[i].icon_url.replace('i/c/k','i/c/i')));
                divForecast.append(day);
            }
            
        }

        $(window).load(function() { 

            //Mapa
            try {

                var mapOptions = {
                    center: new google.maps.LatLng(37.326381, -5.208788),
                    zoom: 18,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            } catch (e) {

                alert("Error al cargar mapa");

            }
            
            //Tiempo
            $.ajax({
                    url : url_forecast_wunderground,
                    dataType : "jsonp",
                    success : function(parsed_json) {forecast4days = parsed_json; setUpWeatherPanel();}
            });
            
            //Gasoil
            var today=new Date();
            var oneDayInMs = 24 * 60 * 60 * 1000;
            today = new Date( today.valueOf() - (today.valueOf()%oneDayInMs) );
            var lastweek=new Date();
            lastweek.setDate(today.getDate()-7);
//            console.log('today '+today); 
//            console.log('lastweek '+lastweek); 
            var labores = /*[[${labores}]]*/null;
            var todayDate = today.valueOf();
//            console.log('todayDate '+todayDate); 
            var data = [
                            [todayDate-(4 * oneDayInMs), 30], 
                            [todayDate-(3 * oneDayInMs), 37], 
                            [todayDate-(2 * oneDayInMs), 30], 
                            [todayDate-(oneDayInMs), 40], 
                            [todayDate, 45]
                        ];
//            console.log('data: '+data);      
            var opciones_gasoil = {
                                        xaxis : {
                                            mode : "time",
                                            timeformat: "%d-%m",
//                                                tickLength : 5,
//                                                min: today,
//                                                max: lastweek 
                                        },
                                        yaxis:{
                                            min: 0
                                        },
                                        series : {
                                                bars : {
                                                        show : true,
                                                        lineWidth : 5,
                                                        fill : true
                                                }
                                        },
//                                        selection : {
//                                                mode : "x"
//                                        },
                                        grid : {
                                                hoverable : true,
                                                clickable : true,
                                                tickColor : "#efefef",
                                                borderWidth : 0,
                                                borderColor : "#efefef",
                                        },
//                                        tooltip : false,
//                                        tooltipOpts : {
//                                                content : "Your sales for <b>%x</b> was <span>$%y</span>",
//                                                dateFormat : "%y-%0m-%0d",
//                                                defaultTheme : false
//                                        },
                                        colors : ["#FF851B"]
                                    };
                
               var plot = $.plot($("#gasoiltimebarchart"), [data], opciones_gasoil);                
                     

        });

        /*]]>*/</script> 

    <div class="row" th:inline="text">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title"><i class="fa fa-tachometer"></i> [[#{panel}]]</h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        </div>
    </div>

    <!-- row -->
    <!--<div class="row" th:inline="text">-->

        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->

            <div id="grid" data-columns="" class="row" th:inline="text">

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-map"></i> [[#{mapa}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="map_canvas" ></div>
                    </div>

                </div>

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-rain"></i> [[#{prevision}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="forecastday" ></div>
                    </div>

                </div>

                <div class="panel panel-primary panel-module">
                    <div class="panel-heading">
                        <h2 class="pull-left"><i class="icon-gasstation"></i> [[#{gasoil}]]</h2>
                    </div>

                    <div class="panel-body">
                        <div id="gasoiltimebarchart" class="chart" ></div>
                    </div>

                </div>

            </div>
            
        <!--</div>-->
        
    <!--</div>-->
    
    <!--<script src="/resources/js/salvattore.min.js" th:src="@{/resources/js/salvattore.min.js}" th:inline="javascript"></script>--> 
    <script src="/resources/js/salvattore.js" th:src="@{/resources/js/salvattore.js}" th:inline="javascript"></script> 

</html>
