<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpAR-D51JR7dd4EXPDxp0j7gUv6kXpSP0&amp;sensor=true&amp;libraries=geometry"></script>
    <!--th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCpAR-D51JR7dd4EXPDxp0j7gUv6kXpSP0(sensor=true)(libraries=geometry)}"></script>-->
    <script src="/resources/js/mapas.js" th:src="@{/resources/js/mapas.js}" th:inline="javascript"></script> 

    <script th:inline="javascript">/*<![CDATA[*/

        $(window).load(function() { 

            try {

                var mapOptions = {
                    //CHINCHILLA
                    //center: new google.maps.LatLng(37.32637, -5.20889),
                    //RANCHO
                    //center: new google.maps.LatLng(37.319063,-5.185826),
                    center: new google.maps.LatLng(37.323677, -5.200524),
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };

                $('#ir-todo-link').addClass("active");

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                var parcelas = /*[[${parcelas}]]*/null;
                var coordenadas = /*[[${coordenadas}]]*/null;
                
                var text1 = /*[[#{anadir-labor}]]*/null;   
                var text2 = /*[[#{ver-labores}]]*/null;   
                var text3 = /*[[#{anadir-produccion}]]*/null;   
                var text4 = /*[[#{ver-producciones}]]*/null;
                
                contextMenu[0] = {link:/*[[@{/parcelas/mapa/form/labor.html}]]*/null,tag:text1};
                contextMenu[1] = {link:/*[[@{/parcelas/mapa/labores/tabla.html}]]*/null,tag:text2};
                contextMenu[2] = {link:/*[[@{/parcelas/mapa/form/produccion.html}]]*/null,tag:text3};
                contextMenu[3] = {link:/*[[@{/parcelas/mapa/producciones/tabla.html}]]*/null,tag:text4};

                insertarPoligonos(map, parcelas, coordenadas);

                $('#ir-todo-link, #ir-chinchilla-link, #ir-rancho-link').click(function() {

                    var idLink = this.id;

                    if (idLink === 'ir-todo-link') {

                        $(this).addClass("active");

                        $('#ir-chinchilla-link').removeClass("active");

                        $('#ir-rancho-link').removeClass("active");

                        map.panTo(new google.maps.LatLng(37.323677, -5.200524));
                        
                        map.setZoom(14);

                    } else if (idLink === 'ir-chinchilla-link') {

                        $(this).addClass("active");

                        $('#ir-rancho-link').removeClass("active");

                        $('#ir-todo-link').removeClass("active");

                        map.panTo(new google.maps.LatLng(37.328292, -5.215223));
                        
                        map.setZoom(15);

                    } else if (idLink === 'ir-rancho-link') {

                        $(this).addClass("active");

                        $('#ir-chinchilla-link').removeClass("active");

                        $('#ir-todo-link').removeClass("active");

                        map.panTo(new google.maps.LatLng(37.319063, -5.185826));
                        
                        map.setZoom(15);

                    } else {

                        console.error('Error modificando centro');

                    }
                });

            } catch (e) {

                alert("Error al cargar mapa");

            }
            
            //Tabla
            tabla_opciones.aaSorting = [[ 3, "asc" ],[ 1, "asc" ]];
                
            tabla_opciones.fnFooterCallback = function ( nRow, aaData, iStart, iEnd, aiDisplay ) {

                var totalHe = 0;

                for ( var i=0 ; i<aaData.length ; i++ )
                {
                    totalHe += parseFloat( aaData[i][4].replace( /\./, "" ).replace( /,/, "." ) );
                }
                var pageHe = 0;

                for ( var i=iStart ; i<iEnd ; i++ )
                {
                    pageHe += parseFloat( aaData[ aiDisplay[i] ][4].replace( /\./, "" ).replace( /,/, "." ) );
                }

                var heSumarize = parseInt(pageHe * 100)/100 + ' Ha&nbsp;<br/>('+ parseInt(totalHe * 100)/100 +' Ha)';

                $(nRow).find('th').eq(4).html( heSumarize );
            };        

            $('#tabla_parcela').dataTable(tabla_opciones);

        });

        /*]]>*/</script> 

    <div class="row" th:inline="text">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title"><i class="icon-fence"></i> [[#{parcelas}]]</h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        </div>
    </div>

    <!-- row -->
    <div class="row" th:inline="text">

        <!-- NEW WIDGET START -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-primary panel-module">
                <div class="panel-heading">
                    <h2 class="pull-left"><i class="icon-map"></i> [[#{mapa}]]</h2>				
                    <div class="pull-right"> 
                        <a id="ir-todo-link" 
                           class="btn btn-default btn-xs" href="#">Todo</a>
                        <a id="ir-chinchilla-link" 
                           class="btn btn-default btn-xs" href="#">Chinchilla</a>
                        <a id="ir-rancho-link" 
                           class="btn btn-default btn-xs" href="#">Rancho</a>
                    </div>
                </div>
                
                <div class="panel-body">
                    <div id="map_canvas" ></div>
                </div>

            </div>
            

            <div class="panel panel-primary panel-module">
                <div class="panel-heading">
                    <h2 class="pull-left"><i class="fa fa-table"></i> [[#{tabla}]]</h2>
                </div>
                
                <div class="panel-body">
                            
                    <table id="tabla_parcela" class="table table-striped table-hover table-condensed">

                        <thead>
                            <tr>
                                <th>[[#{id-parcela}]]</th>
                                <th>[[#{nombre}]]</th>
                                <th>[[#{nombre-corto}]]</th>
                                <th>[[#{zona}]]</th>
                                <th>[[#{extension}]]</th>
                                <th>[[#{cultivo-fijo}]]</th>
                                <th>[[#{color}]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  th:each="parcela_item : ${parcelas}">
                                <td>[[${parcela_item.id_parcela}]]</td>
                                <td>[[${parcela_item.nombre}]]</td>
                                <td>[[${parcela_item.nombre_corto}]]</td>
                                <td>[[${parcela_item.zona}]]</td>
                                <td class="text-align-right">[[${#numbers.formatDecimal(parcela_item.extension,1,'POINT',2,'COMMA')}]]</td>
                                <td>[[${parcela_item.cultivo_fijo}]]</td>
                                <td th:style="${'color: #'+parcela_item.color}">[[${parcela_item.color}]]</td>
                            </tr>
                        </tbody>
                            <tfoot>
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th class="text-align-right"></th>
                                  <th></th>
                                  <th></th>
                                </tr>
                            </tfoot>
                    </table>
                    
                </div>

            </div>
        </div>
    </div>

</html>
