<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title" ><i class="icon-shovel"></i> [[#{labores}]]</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>

<div class="row" th:inline="text">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <!--<div th:replace="labores :: module-tasks"></div>-->


        <div class="panel panel-primary panel-module"><!--th:fragment="module-tasks"-->
    
        <script th:inline="javascript">/*<![CDATA[*/

            $(window).load(function () {

                tabla_opciones.aaSorting = [[ 5, "desc" ]];
                
                tabla_opciones.aoColumnDefs = [{ "bSortable": false, "aTargets": [ 0 ] }];
                
                tabla_opciones.fnFooterCallback = function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
                    
                    var totalFuel = 0;
                    var totalLength = 0;
                    var totalCost = 0;
                    
                    for ( var i=0 ; i<aaData.length ; i++ )
                    {
                        totalFuel += parseFloat( aaData[i][7].replace( /\./, "" ).replace( /,/, "." ) );
                        totalLength += parseFloat( aaData[i][8].replace( /\./, "" ).replace( /,/, "." ) );
                        totalCost += parseFloat( aaData[i][14].replace( /\./, "" ).replace( /,/, "." ) );
                    }
                    
                    var pageFuel = 0;
                    var pageLength = 0;
                    var pageCost = 0;
                    
                    for ( var i=iStart ; i<iEnd ; i++ )
                    {
                        pageFuel += parseFloat( aaData[ aiDisplay[i] ][7].replace( /\./, "" ).replace( /,/, "." ) );
                        pageLength += parseFloat( aaData[ aiDisplay[i] ][8].replace( /\./, "" ).replace( /,/, "." ) );
                        pageCost += parseFloat( aaData[ aiDisplay[i] ][14].replace( /\./, "" ).replace( /,/, "." ) );
                    }
                    
                    var fuelSumarize = parseInt(pageFuel * 100)/100 + ' ('+ parseInt(totalFuel * 100)/100 +' Total)';
                    var lengthSumarize = parseInt(pageLength * 100)/100 + ' ('+ parseInt(totalLength * 100)/100 +' Total)';
                    var costSumarize = parseInt(pageCost * 100)/100 + ' ('+ parseInt(totalCost * 100)/100 +' Total)';
                    
                    $(nRow).find('th').eq(7).html( fuelSumarize );
                    $(nRow).find('th').eq(8).html( lengthSumarize );
                    $(nRow).find('th').eq(14).html( costSumarize );
                };
                
                console.log("creando tabla labores");

                var tabla_labores = $('#tabla_labores').dataTable(tabla_opciones);

                var aoAdvancedFilter = /*[[${aoAdvancedFilter}]]*/null;

        //        console.debug('aoAdvancedFilter '+JSON.stringify(aoAdvancedFilter,null,'\t') );

                if(aoAdvancedFilter){

                    var titleKey =  new Object();

                    titleKey.parcela = /*[[#{parcela}]]*/null;

        //            console.debug('titleKey '+JSON.stringify(titleKey,null,'\t') );

                    for ( var i = 0 ; i < aoAdvancedFilter.length ; i++){

                        var sTitleKey = aoAdvancedFilter[i].sTitleKey;

                        if(titleKey[sTitleKey] && titleKey[sTitleKey]!==''){

                            aoAdvancedFilter[i].sTitle = titleKey[sTitleKey];
                        }
                    }

                    AdvancedFilter.fnSetAdvancedFilter(aoAdvancedFilter,tabla_labores);

                }

            });


        /*]]>*/</script> 
            
            <div class="panel-heading">
                
                <h2 class="pull-left"><i class="fa fa-table"></i> [[#{tabla}]]</h2>				
                <div class="pull-right"> 

                    <a id="eliminar-labor-link" class="btn btn-default btn-xs disabled" 
                        style="display:inline-block" 
                        href="javascript:void(0)">
                         <span class="icon-trash"></span> [[#{eliminar-labor-es}]]
                    </a>

                    <a id="anadir-labor-link" class="btn btn-default btn-xs" 
                        style="display:inline-block" 
                       th:href="@{/labores/tabla/form/labor.html(id=-1)}">
                         <span class="glyphicon glyphicon-plus"></span> [[#{anadir-labor}]]
                    </a>
                </div>		

            </div>

            <div class="panel-body">
                            
                <table id="tabla_labores" class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                          <th style="text-align: center;">
                             <input type="checkbox" onclick="Util.checkAll(this)" />
                          </th>
                          <th>[[#{id-labor}]]</th>
                          <th>[[#{parcela}]]</th>
                          <th>[[#{grupo}]]</th>
                          <th>[[#{nombre}]]</th>
                          <th>[[#{fecha-comienzo}]]</th>
                          <th>[[#{fecha-fin}]]</th>
                          <th>[[#{litros-gasoil}]]</th>
                          <th>[[#{duracion}]]</th>
                          <th>[[#{coste-fijo-total}]]</th>
                          <th>[[#{descripcion}]]</th>
                          <th>[[#{maquinaria}]]</th>
                          <th>[[#{producto}]]</th>
                          <th>[[#{personal}]]</th>
                          <th>[[#{coste-total}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  th:each="labores_item : ${labores}">
                          <td style="text-align: center;">
                              <input type="checkbox" th:value="${labores_item.id_labor}"/>
                          </td>
                          <td><a th:href="@{/labores/tabla/form/labor.html(id=${labores_item.id_labor})}">[[${labores_item.id_labor}]]</a></td>
                          <td>
                              <ul  th:if="${not #lists.isEmpty(labores_item.labor_parcela)}"
                                    class="nav nav-pills nav-stacked">
                                <li th:each="laborParcela_item : ${labores_item.labor_parcela}"  class="label label-primary"
                                    style="margin-bottom: 3px">[[${laborParcela_item.parcela.nombre}]]</li>
                              </ul>
                          </td>
                          <td>[[${labores_item.grupo}]]</td>
                          <td>[[${labores_item.nombre}]]</td>
                          <td>[[${#dates.format(labores_item.fecha_comienzo,'dd/MM/yyyy')}]]</td>
                          <td>[[${labores_item.fecha_fin} ? ${#dates.format(labores_item.fecha_fin,'dd/MM/yyyy')} : '']]</td>
                          <td class="text-align-right">[[${#numbers.formatDecimal(labores_item.litros_gasoil,1,'POINT',2,'COMMA')}]]</td>
                          <td class="text-align-right">[[${#numbers.formatDecimal(labores_item.duracion,1,'POINT',2,'COMMA')}]]</td>
                          <td class="text-align-right">[[${#numbers.formatDecimal(labores_item.coste_fijo_total,1,'POINT',2,'COMMA')}]]</td>
                          <td>[[${#objects.nullSafe(labores_item.descripcion,'')}]]</td>
                          <td>
                              <ul  th:if="${not #lists.isEmpty(labores_item.labor_maquinaria)}"
                                    class="nav nav-pills nav-stacked">
                                <li th:each="laborMaquinaria_item : ${labores_item.labor_maquinaria}" class="label label-primary"
                                    style="margin-bottom: 3px">[[${laborMaquinaria_item.maquinaria.nombre}]]</li>
                              </ul>
                          </td>
                          <td>
                              <ul  th:if="${not #lists.isEmpty(labores_item.labor_producto)}"
                                    class="nav nav-pills nav-stacked">
                                <li th:each="laborProducto_item : ${labores_item.labor_producto}"  class="label label-primary"
                                    style="margin-bottom: 3px">[[${laborProducto_item.producto.nombre}]] ([[${#numbers.formatDecimal(laborProducto_item.multiplicador,1,'POINT',2,'COMMA')}]] [[#{kg}]])</li>
                              </ul>
                          </td>
                          <td>
                              <ul  th:if="${not #lists.isEmpty(labores_item.labor_personal)}"
                                    class="nav nav-pills nav-stacked">
                                <li th:each="laborPersonal_item : ${labores_item.labor_personal}"  class="label label-primary"
                                    style="margin-bottom: 3px">[[${laborPersonal_item.coste_personal.tipo}]]</li>
                              </ul>
                          </td>
                          <td class="text-align-right txt-color-red">[[${#numbers.formatDecimal(T(com.chinchilla.util.UtilFormulas).costeLabor(ordenesCompra, electricidad, labores_item, labores),1,'POINT',2,'COMMA')}]]</td>
                       </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>

    </div>
            
</div>

</html>
