<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>/*<![CDATA[*/
  
    $(window).load(function () {
    
        $('#tabla_maquinaria').dataTable(tabla_opciones);
        
    });
    
    
/*]]>*/</script> 
<div class="row">
<h2 th:text="#{maquinaria}">[maquinaria]</h2>
</div>
<div class="row text-right">
<a id="anadir-tipo-maquinaria-link" 
   class="btn btn-default btn-sm disabled" 
   th:href="@{/maquinaria/tabla/form/maquinaria.html(id=-1)}" >
    <span class="glyphicon glyphicon-plus"></span> <span th:text="#{anadir-maquinaria}">[anadir-maquinaria]</span></a>
</div>
<div class="row">
<table id="tabla_maquinaria" class="tabla-jqueryui">
    <!--class="table table-stripped table-bordered table-hover table-condensed"-->
    <thead>
        <tr>
          <th th:text="#{id-maquinaria}"></th>
          <th th:text="#{nombre}"></th>
            <th th:text="#{tipo}"></th>
            <th th:text="#{valor-compra}"></th>
            <th th:text="#{valor-desecho}"></th>
            <th th:text="#{horas-trabajo}"></th>
            <th th:text="#{interes}"></th>
            <th th:text="#{anyos-mas-1}"></th>
            <th th:text="#{reparacion-variable}"></th>
            <th th:text="#{alojamiento-variable}"></th>
            <th th:text="#{prima-seguro}"></th>
            <th th:text="#{cv}"></th>
            <th th:text="#{litros-cv-y-hora}"></th>
            <th th:text="#{horas-cambio-aceite}"></th>
            <th th:text="#{litros-aceite}"></th>
        </tr>
    </thead>
    <tbody>
        <tr  th:each="maquinaria_item : ${maquinaria}">
            <td th:text="${maquinaria_item.id_coste_maquinaria}"><a th:href="@{/maquinaria/tabla/form/maquinaria.html(id=${maquinaria_item.id_coste_maquinaria})}" th:text="${maquinaria_item.id_coste_maquinaria}">[id_coste_maquinaria]</a></td>
            <td th:text="${maquinaria_item.nombre}"></td>
            <td th:text="${maquinaria_item.tipo}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.valor_compra,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.valor_desecho,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${maquinaria_item.horas_trabajo}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.interes,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${maquinaria_item.anyos_mas_1}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.reparacion_variable,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.alojamiento_variable,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.prima_seguro,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${maquinaria_item.cv}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.litros_cv_y_hora,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${maquinaria_item.horas_cambio_aceite}"></td>
            <td th:text="${#numbers.formatDecimal(maquinaria_item.litros_aceite,1,'POINT',2,'COMMA')}"></td>
       </tr>
    </tbody>
</table>
</div>
</html>