<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">/*<![CDATA[*/
  
    $(window).load(function () {
        
        tabla_opciones.aaSorting = [[ 3, "desc" ]];
    
        $('#tabla_producciones').dataTable(tabla_opciones);
        
        var grafico_tarta_produccion_parcela = /*[[${grafico_tarta_produccion_parcela}]]*/null;
        
        var grafico_tarta_produccion_cultivo = /*[[${grafico_tarta_produccion_cultivo}]]*/null;
        
        var data_pie_produccion_parcela = new Array();
        
        var j = 0;
        
        for (var i in grafico_tarta_produccion_parcela) {
            data_pie_produccion_parcela[j] = {
                label : i,
                data : grafico_tarta_produccion_parcela[i]
            };
            j++;
        }
        
        var data_pie_produccion_cultivo = new Array();
        
        j = 0;
        
        for (var k in grafico_tarta_produccion_cultivo) {
            data_pie_produccion_cultivo[j] = {
                label : k,
                data : grafico_tarta_produccion_cultivo[k]
            };
            j++;
        }
        
        var options = {
            series : {
                    pie : {
                            show : true,
                            innerRadius : 0.2,
                            radius : 1,
                            label : {
                                    show : true,
                                    radius : 1,
                                    formatter : function(label, series) {
                                            return '<div style="font-size:11px;text-align:center;padding:4px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                    },
                                    background: {
                                        opacity: 0.5
                                    },
                                    threshold : 0.1
                            }
                    }
            },
            legend : {
                    show : true,
                    noColumns : 2, // number of colums in legend table
                    labelFormatter : null, // fn: string -> string
                    labelBoxBorderColor : "#C2C2C2", // border color for the little label boxes
                    container : null, // container (as jQuery object) to put legend in, null means default on top of graph
                    position : "ne", // position of default legend container within plot
                    margin : [5, 5], // distance from grid edge to default legend container within plot
                    backgroundColor : "#FAFAFA", // null means auto-detect
                    backgroundOpacity : 1 // set to 0 to avoid background
            },
            grid : {
                    hoverable : true,
                    clickable : true
            }
        };
        
        var options_parcela = $.extend({}, options);
        
        var options_cultivo = $.extend({}, options);
        
        options_parcela.colors = getRainbowColors(data_pie_produccion_parcela.length);
        
        options_cultivo.colors = getRainbowColors(data_pie_produccion_cultivo.length);
        
//        options_parcela.legend.noColumns = Math.ceil(data_pie_produccion_parcela.length/14);
//        
//        options_cultivo.legend.noColumns = Math.ceil(data_pie_produccion_cultivo.length/14);
        
        $.plot($("#pie-chart-produccion-parcela"), data_pie_produccion_parcela, options_parcela);
        
        $.plot($("#pie-chart-produccion-cultivo"), data_pie_produccion_cultivo, options_cultivo);
        
    });
    
    
/*]]>*/</script> 
<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark" ><i class="glyphicon glyphicon-inbox"></i> [[#{producciones}]]</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="" th:inline="text">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false"
                                                    data-widget-editbutton="false"
                                                    data-widget-togglebutton="true"
                                                    data-widget-deletebutton="false"
                                                    data-widget-fullscreenbutton="false"
                                                    data-widget-custombutton="false"
                                                    data-widget-collapsed="false" 
                                                    data-widget-sortable="false">
                <header>
                    <h2><i class="fa fa-lg fa-fw fa-table"></i> <strong>[[#{tabla}]]</strong></h2>					
                    <div class="widget-toolbar"> 
                        <a id="anadir-tipo-labor-link" class="btn btn-default btn-sm" th:href="@{/producciones/tabla/form/produccion.html(id=-1)}">
                             <span class="glyphicon glyphicon-plus"></span> [[#{anadir-produccion}]]
                        </a>
                    </div>
                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                    </div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="widget-body-toolbar">

                        </div>
                            
                        <table id="tabla_producciones" class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                  <th>[[#{id-produccion}]]</th>
                                  <th>[[#{cultivo}]]</th>
                                  <th>[[#{parcela}]]</th>
                                  <th>[[#{fecha}]]</th>
                                  <th>[[#{kilos}]]</th>
                                  <th>[[#{precio-kilo}]]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="producciones_item : ${producciones}">
                                  <td>
                                      <a th:href="@{/producciones/tabla/form/produccion.html(id=${producciones_item.id_produccion})}">
                                          [[${producciones_item.id_produccion}]]
                                      </a>
                                  </td>
                                  <td th:each="cultivos_item : ${cultivos}" 
                                      th:if="${cultivos_item.id_cultivo == producciones_item.id_cultivo}">
                                      <!--<a th:href="@{/cultivos/tabla/form/cultivo.html(id=${cultivos_item.id_cultivo})}">-->
                                          [[${cultivos_item.especie+' - '+cultivos_item.variedad}]]
                                      <!--</a>-->
                                  </td>
                                  <td th:each="parcelas_item : ${parcelas}" 
                                      th:if="${parcelas_item.id_parcela == producciones_item.id_parcela}">
                                      [[${parcelas_item.zona+' - '+parcelas_item.nombre}]]
                                  </td>
                                  <td>[[${#dates.format(producciones_item.fecha,'dd/MM/yyyy')}]]</td>
                                  <td>[[${producciones_item.kilos}]]</td>
                                  <td>[[${#numbers.formatDecimal(producciones_item.precio_kilo,1,'POINT',3,'COMMA')}]]</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>

            </div>
        </article>
    </div>
    <!-- row -->
    <div class="row">
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false"
                                                    data-widget-editbutton="false"
                                                    data-widget-togglebutton="true"
                                                    data-widget-deletebutton="false"
                                                    data-widget-fullscreenbutton="false"
                                                    data-widget-custombutton="false"
                                                    data-widget-collapsed="false" 
                                                    data-widget-sortable="false">
                <header>
                    <h2><i class="icon-statistics"></i> <strong>[[#{produccion-por-parcela}]]</strong></h2>					
<!--                    <div class="widget-toolbar"> 
                    </div>-->
                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                    </div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div id="pie-chart-produccion-parcela" class="chart"></div>
                        
                    </div>
                </div>

            </div>
            
        </article>
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false"
                                                    data-widget-editbutton="false"
                                                    data-widget-togglebutton="true"
                                                    data-widget-deletebutton="false"
                                                    data-widget-fullscreenbutton="false"
                                                    data-widget-custombutton="false"
                                                    data-widget-collapsed="false" 
                                                    data-widget-sortable="false">
                <header>
                    <h2><i class="icon-statistics"></i> <strong>[[#{produccion-por-cultivo}]]</strong></h2>					
<!--                    <div class="widget-toolbar"> 
                    </div>-->
                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                    </div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div id="pie-chart-produccion-cultivo" class="chart"></div>
                        
                    </div>
                </div>

            </div>
            
        </article>
        
    </div>
</section>
    
</html>