<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>/*<![CDATA[*/
  
    $(window).load(function () {

        tabla_opciones.aaSorting = [[ 8, "desc" ]];
    
        $('#tabla_registros').dataTable(tabla_opciones);
        
    });
    
    
/*]]>*/</script> 
<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark" ><i class="icon-shoppingcartalt"></i> [[#{registros}]]</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>

   <!-- row -->
    <div class="row" th:inline="text">

        <!-- NEW WIDGET START -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-primary panel-module">
                <div class="panel-heading">
                    
                    <h2 class="pull-left"><i class="fa fa-table"></i> [[#{tabla}]]</h2>					
                    <div class="pull-right"> 
                        <a id="anadir-tipo-labor-link" class="btn btn-default btn-xs" th:href="@{/registros/tabla/form/registro.html(id=-1)}">
                             <span class="glyphicon glyphicon-plus"></span> [[#{anadir-registro}]]
                        </a>
                    </div>
                    
                </div>
                
                <div class="panel-body">
                            
                    <table id="tabla_registros" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                              <th>[[#{id}]]</th>
                              <th>[[#{id-elemento}]]</th>
                              <th>[[#{num-factura}]]</th>
                              <th>[[#{cantidad}]]</th>
                              <th>[[#{precio}]]</th>
                              <th>[[#{total}]]</th>
                              <th>[[#{marca}]]</th>
                              <th>[[#{proveedor}]]</th>
                              <th>[[#{fecha}]]</th>
                              <th>[[#{fecha-albaran}]]</th>
                              <th>[[#{nota}]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  th:each="ordenesCompra_item : ${ordenesCompra}">
                              <td><a th:href="@{/registros/tabla/form/registro.html(id=${ordenesCompra_item.id_orden_compra})}">[[${ordenesCompra_item.id_orden_compra}]]</a></td>
<!--                                  <td th:each="cultivos_item : ${cultivos}" 
                                  th:if="${cultivos_item.id_cultivo == ordenesCompra.id_cultivo}">
                                  <a th:href="@{/cultivos/tabla/form/cultivo.html(id=${cultivos_item.id_cultivo})}" 
                                     th:text="${cultivos_item.especie+' - '+cultivos_item.variedad}">[id_cultivo]</a>
                              </td>-->
<!--                                  <td th:each="parcelas_item : ${parcelas}" 
                                  th:text="${parcelas_item.zona+' - '+parcelas_item.nombre}"
                                  th:if="${parcelas_item.id_parcela == ordenesCompra.id_parcela}">[id_parcela]
                              </td>-->
                              <td>[[${ordenesCompra_item.id_elemento}]]</td>
                              <td>[[${ordenesCompra_item.num_factura}]]</td>
                              <td class="text-align-right">[[${#numbers.formatDecimal(ordenesCompra_item.cantidad,1,'POINT',2,'COMMA')}]]</td>
                              <td class="text-align-right">[[${ordenesCompra_item.precio != null and ordenesCompra_item.precio != 0} ? ${#numbers.formatDecimal(ordenesCompra_item.precio,1,'POINT',4,'COMMA')} : '']]</td>
                              <td class="text-align-right">[[${ordenesCompra_item.total != null and ordenesCompra_item.total != 0} ? ${#numbers.formatDecimal(ordenesCompra_item.total,1,'POINT',2,'COMMA')} : '']]</td>
                              <td>[[${ordenesCompra_item.marca}]]</td>
                              <td>[[${ordenesCompra_item.proveedor}]]</td>
                              <td>[[${#dates.format(ordenesCompra_item.fecha,'dd/MM/yyyy')}]]</td>
                              <td>[[${ordenesCompra_item.fecha_albaran} ? ${#dates.format(ordenesCompra_item.fecha_albaran,'dd/MM/yyyy')} : '']]</td>
                              <td>[[${ordenesCompra_item.nota}]]</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

            </div>
        </div>
    </div>
    
</html>