<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>/*<![CDATA[*/
  
    $(window).load(function () {
    
        $('#tabla_parcela').dataTable(tabla_opciones);
        
    });
    
    
/*]]>*/</script> 
<div class="row">
<h2 th:text="#{parcela}">[parcela]</h2>
</div>
<!--<div class="row text-right">
<a id="anadir-tipo-parcela-link" 
   class="btn btn-default btn-sm disabled" 
   th:href="@{/parcela/tabla/form/parcela.html(id=-1)}" >
    <span class="glyphicon glyphicon-plus"></span> <span th:text="#{anadir-parcela}">[anadir-parcela]</span></a>
</div>-->
<div class="row">
<table id="tabla_parcela" class="tabla-jqueryui">
    <!--class="table table-stripped table-bordered table-hover table-condensed"-->
    <thead>
        <tr>
          <th th:text="#{id-parcela}"></th>
          <th th:text="#{nombre}"></th>
            <th th:text="#{nombre-corto}"></th>
            <th th:text="#{zona}"></th>
            <th th:text="#{extension}"></th>
            <th th:text="#{cultivo-fijo}"></th>
            <th th:text="#{color}"></th>
        </tr>
    </thead>
    <tbody>
        <tr  th:each="parcela_item : ${parcelas}">
            <td th:text="${parcela_item.id_parcela}"><a th:href="@{/parcela/tabla/form/parcela.html(id=${parcela_item.id_parcela})}" th:text="${parcela_item.id_parcela}">[id_parcela]</a></td>
            <td th:text="${parcela_item.nombre}"></td>
            <td th:text="${parcela_item.nombre_corto}"></td>
            <td th:text="${parcela_item.zona}"></td>
            <td th:text="${#numbers.formatDecimal(parcela_item.extension,1,'POINT',2,'COMMA')}"></td>
            <td th:text="${parcela_item.cultivo_fijo}"></td>
            <td th:text="${parcela_item.color}" th:style="${'color: #'+parcela_item.color}"></td>
        </tr>
    </tbody>
</table>
</div>
</html>