<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>/*<![CDATA[*/
  
    $(window).load(function () {
    
        $('#tabla_producciones').dataTable(tabla_opciones);
        
    });
    
    
/*]]>*/</script> 
<div class="row">
<h2 th:text="#{producciones}">[producciones]</h2>
</div>
<div class="row text-right">
<a id="anadir-produccion-link" 
   class="btn btn-default btn-sm" 
   th:href="@{/producciones/tabla/form/produccion.html(id=-1)}" >
    <span class="glyphicon glyphicon-plus"></span> <span th:text="#{anadir-produccion}">[anadir-produccion]</span></a>
</div>
<div class="row">
<table id="tabla_producciones" class="tabla-jqueryui">
    <!--class="table table-stripped table-bordered table-hover table-condensed"-->
    <thead>
        <tr>
          <th th:text="#{id-produccion}"></th>
          <th th:text="#{cultivo}"></th>
          <th th:text="#{parcela}"></th>
          <th th:text="#{fecha}"></th>
          <th th:text="#{kilos}"></th>
          <th th:text="#{precio-kilo}"></th>
        </tr>
    </thead>
    <tbody>
        <tr  th:each="producciones_item : ${producciones}">
          <td><a th:href="@{/producciones/tabla/form/produccion.html(id=${producciones_item.id_produccion})}" th:text="${producciones_item.id_produccion}">[id_produccion]</a></td>
          <td th:each="cultivos_item : ${cultivos}" 
              th:if="${cultivos_item.id_cultivo == producciones_item.id_cultivo}">
              <a th:href="@{/cultivos/tabla/form/cultivo.html(id=${cultivos_item.id_cultivo})}" 
                 th:text="${cultivos_item.especie+' - '+cultivos_item.variedad}">[id_cultivo]</a>
          </td>
          <td th:each="parcelas_item : ${parcelas}" 
              th:text="${parcelas_item.zona+' - '+parcelas_item.nombre}"
              th:if="${parcelas_item.id_parcela == producciones_item.id_parcela}">[id_parcela]
          </td>
          <td th:text="${#dates.format(producciones_item.fecha,'dd/MM/yyyy')}">[fecha]</td>
          <td th:text="${producciones_item.kilos}">[kilos]</td>
          <td th:text="${#numbers.formatDecimal(producciones_item.precio_kilo,1,'POINT',3,'COMMA')}">[precio_kilo]</td>
        </tr>
    </tbody>
</table>
</div>
</html>