<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>/*<![CDATA[*/
  
    $(window).load(function () {
    
        $('#tabla_productos').dataTable(tabla_opciones);
        
    });
    
    
/*]]>*/</script> 

<div class="row" th:inline="text">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark" ><i class="icon-shovel"></i> [[#{productos}]]</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>

<div class="row" th:inline="text">
    <div class="panel panel-default widget-module">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2 class="pull-left"><i class="fa fa-lg fa-fw fa-table"></i> <strong>[[#{tabla}]]</strong></h2>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a id="anadir-tipo-labor-link" class="btn btn-default btn-sm disabled pull-right"  
                       th:href="@{/productos/tabla/form/producto.html(id=-1)}">
                         <span class="glyphicon glyphicon-plus"></span> [[#{anadir-producto}]]
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            
            <table id="tabla_productos" class="table table-striped table-bordered table-hover table-condensed">
                <!--class="table table-stripped table-bordered table-hover table-condensed"-->
                <thead>
                    <tr>
                      <th>[[#{id-producto}]]</th>
                      <th>[[#{grupo}]]</th>
                      <th>[[#{tipo}]]</th>
                      <th>[[#{nombre}]]</th>
                      <th>[[#{descripcion}]]</th>
                      <th>[[#{num-reg-ma}]]</th>
                      <th>[[#{plazo-seguridad}]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="productos_item : ${productos}">
                      <td>[[${productos_item.id_producto}]]</td>
                          <!--<a th:href="@{/productos/tabla/form/producto.html(id=${productos_item.id_producto})}" th:text="${productos_item.id_producto}">[id_producto]</a>-->
                      <td>[[${productos_item.grupo}]]</td>
                      <td>[[${productos_item.tipo}]]</td>
                      <td>[[${productos_item.nombre}]]</td>
                      <td>[[${productos_item.descripcion}]]</td>
                      <td>[[${productos_item.num_reg_ma}]]</td>
                      <td>[[${productos_item.plazo_seguridad}]]</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
      </div>

</div>

</html>