<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

<!-- Tiles2 beans OBSOLETO -->
<!--    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
    </bean>

    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/defs/definitions.xml</value>
            </list>
        </property>
        <property name="preparerFactoryClass" value="org.springframework.web.servlet.view.tiles2.SpringBeanPreparerFactory"/>
    </bean>-->
    
    <!-- Thymeleaf beans-->
    <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="false" />
    </bean>
    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
        <!-- These lines add the LayoutDialect to Thymeleaf -->
        <property name="additionalDialects">
            <set>
                <!-- These lines add the LayoutDialect to Thymeleaf -->
                <bean class="nz.net.ultraq.thymeleaf.LayoutDialect"/>
                <!-- Adds the Tiles dialect -->
                <bean class="org.thymeleaf.extras.tiles2.dialect.TilesDialect"/>

            </set>
        </property>
    </bean>
    
    <!-- Configures the Tiles layout system using a specific thymeleaf-enabled Tiles Configurer -->
    <bean id="tilesConfigurer" class="org.thymeleaf.extras.tiles2.spring.web.configurer.ThymeleafTilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/defs/definitions.xml</value>
            </list>
        </property>
    </bean>

<!-- Configures view resolver using AJAX and Tyles -->
<!--<bean id="tilesViewResolver" class="org.thymeleaf.spring3.view.AjaxThymeleafViewResolver">
    <property name="viewClass" value="org.thymeleaf.extras.tiles2.spring.web.view.FlowAjaxThymeleafTilesView"/>-->

    <bean id="viewResolver"  class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
    <!-- Configures the Tiles view class -->
        <property name="viewClass" value="org.thymeleaf.extras.tiles2.spring.web.view.ThymeleafTilesView"/>
        <property name="templateEngine" ref="templateEngine" />
        <property name="order" value="1" />
        <property name="viewNames" value="*" />
    </bean>

    
    <import resource="classpath:spring-ibatis.xml"/>
    
    <!--<context:component-scan base-package="com.chinchilla.controller"/>-->
    
    <context:annotation-config />
    
    <!--<mvc:default-servlet-handler/>-->
    <mvc:annotation-driven/> 
    <!--    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/js/**" location="/js/" />-->
    <!--<mvc:resources mapping="/resources/**" location="/resources/" />-->

    <!-- URL mappings and controllers-->
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
    <bean id="indexController" class="com.chinchilla.controller.IndexController" />
    <bean id="parcelasController" class="com.chinchilla.controller.ParcelasController" />
    <bean id="laboresController" class="com.chinchilla.controller.LaboresController" />
    <bean id="produccionesController" class="com.chinchilla.controller.ProduccionesController" />
    <bean id="cultivosController" class="com.chinchilla.controller.CultivosController" />
    <bean id="maquinariaController" class="com.chinchilla.controller.MaquinariaController" />
    <bean id="personalController" class="com.chinchilla.controller.PersonalController" />
    <bean id="productosController" class="com.chinchilla.controller.ProductosController" />
    <bean id="configuracionController" class="com.chinchilla.controller.ConfiguracionController" />
    
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
</beans>
